@import "../../../../colors";
@import "../../../../frameless";

.schedule {
    .title-banner {
        margin-bottom: 0;
    }

    .sub-nav {
        z-index: -1;
        box-shadow: 0 2px 5px $ui-dark-gray;
        padding: 0;

        li {
            margin: 0;
            border: 0;
            border-top: 4px solid transparent;
            border-left: 2px solid $active-gray;
            border-radius: 0;
            padding: .75em 1em;
            color: $type-gray;
            font-size: 1rem;

            &.last {
                border-right: 2px solid $active-gray;
            }

            &:hover,
            &:active,
            &.selected {
                border-top: 4px solid $ui-orange;
                border-left: 2px solid $active-gray;
                box-shadow: none;
                background-color: inherit;
            }

            &.selected {
                font-weight: 700;
            }
        }

        img {
            margin-right: .5em;
            width: 2em;
            vertical-align: middle;
        }
    }

    .inner {
        h2 {
            &.breaking-title {
                margin: 4rem 0 2rem 0;
                border-bottom: 1px solid $ui-dark-gray;
                width: 100%;
                height: 1.7rem; // match the line-height for h2
                text-align: center;
            }

            span {
                background-color: $background-color;
                padding: 0 10px;
            }
        }

        a {
            &.item-url {
                display: block;

                &:hover {
                    background-color: $ui-blue-25percent;
                }
            }
        }

        .agenda-item {
            margin: 1rem 0;
            border: 1px solid $active-gray;
            border-radius: 5px;
            padding: 1.25rem 2.25rem;

            &.no-click {
                background-color: $ui-gray;
            }

            .flex-row {
                margin: .5rem 0;
                justify-content: space-between;
                align-items: flex-start;

                p {
                    margin: 0;
                    width: 48%;
                    text-align: left;
                }

                img {
                    margin-right: .5rem;
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }

    @media #{$small} {
        .sub-nav {
            flex-wrap: nowrap;
        }

        .inner {
            h2 {
                &.breaking-title {
                    margin: 2rem 0 2rem;
                    height: 100%;
                    font-size: 1.5rem;
                }
            }

            .agenda-item {
                h3 {
                    font-size: 1.2rem;
                }
            }
        }
    }

    @media #{$medium-and-smaller} {
        .inner {
            h2 {
                &.breaking-title {
                    border-bottom: 0;
                }

                span {
                    background-color: transparent;
                    padding: 0;
                }
            }

            .agenda-item {
                .flex-row {
                    p {
                        margin: .5rem 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}
