@import "colors";

.counterindicator {
    display: inline-block;

    &.active {
        background-color: $ui-blue;
    }

    &.selected {
        border: 2px solid $ui-blue;
    }
}

.formcard {
    width: 100px;
}
