@import "../../../colors";

.small-top-banner {
    background: $ui-orange;
    padding: 5px 0;

    .small-top-container {
        justify-content: center;
    }

    .copy,
    .call-to-action {
        color: $ui-white;
        font-weight: 500;
    }

    .copy {
        font-size: 1.1rem;
    }

    .call-to-action {
        margin-left: 32px;
        border-radius: 8px;
        padding: .625rem 1.2rem;
        font-size: 1rem;
    }
}
