@import "../../colors";

.ev3 {
    .extension-header {
        background-color: $ui-magenta-dark;
        background-image: url("/images/ev3/ev3-pattern.svg");
    }
    .headline-icon {
        width: 32px;
        height: 36px;
    }
    .step-image.tall {
        height: 16rem;
    }
}
