@import "../../colors";

.ev3 {
    .extension-header {
        background-color: $ui-orange;
        background-image: url("/images/ev3/ev3-pattern.svg");
    }
    .step-image.tall {
        height: 16rem;
    }
}
