@import "../../../colors";
@import "../../../frameless";

.mod-externalShare {
    min-height: 15rem;
    max-height: calc(100% - 8rem);

    /* Some value for height must be set for scrolling to work */
    // height: 100%;

    // overflow: hidden;
    //
    // @media #{$small}, #{$small-height} {
    //     overflow: hidden;
    // }
}

.externalShare-modal-header {
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0 -1px 0 0 $ui-blue-dark;
    background-color: $ui-blue;
}

.externalShare-modal-content {
    margin: 0 auto;
    box-shadow: none;
    width: 85%;
    height: calc(100% - 0rem);
    margin: 1rem auto;
}

.externalShare-embed-row {
    justify-content: space-between;
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.externalShare-embed-textarea {
    width: calc(100% - 3rem);
    height: 4rem;
    padding-left: .5rem;
    padding-right: .5rem;

    textarea {
        min-height: 4rem;
    }
}

.externalShare-copy-icon {
    width: 2rem;
    height: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    // &:before {
        background-image: url("/svgs/forms/temp-copy.svg");
        background-repeat: no-repeat;
        background-size: contain;
    // }
}

// .external-target-outer-scrollbox {
//     position: relative;
//     background-color: $ui-blue-10percent;
//     flex: 1;
//     height: calc(100% - 0rem);
//
//     @media #{$small-height} {
//         min-height: 0;
//     }
// }
//
// .external-target-inner-scrollbox {
//     margin-right: .5rem;
//     padding-right: .5rem;
//     height: 100%;
//     overflow: scroll;
//     overflow-x: hidden;
//
//     &::-webkit-scrollbar {
//         width: 8px;
//     }
//
//     &::-webkit-scrollbar-thumb {
//         border-radius: 4px;
//         background-color: $active-dark-gray;
//         height: 92px;
//     }
//
//     &::-webkit-scrollbar-track {
//         margin-top: 8px;
//         margin-bottom: 10px;
//     }
// }
//
// .external-target-container {
//     display: flex;
//     padding: .40625rem 0 0 1.46875rem;
//     justify-content: flex-start;
//     flex-flow: row wrap;
// }
/* NOTE: force scrolling: add to above:
    min-height: 30rem;
*/

.externalShare-form {
    width: 100%;
}
