.details {
    &.inner {
        margin-top: 2rem;

        &.fetching {
            opacity: .6;
        }
    }

    .back {
        margin: 1rem 0;
    }

    ul {
        &.logistics {
            margin: .25rem 0 2.5rem;
            padding-left: 0;
            list-style-type: none;
        }

        li {
            margin: .25rem 0;
        }
    }

    .description {
        margin: 2rem 0;
    }
}
