# OSX
.DS_Store

# NPM
node_modules/
npm-*

# Build
/build

# Locales
/locales
/intl

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
deploy.zip
ENV

# Test
/.nyc_output
/coverage
reports/
screenshots/
