@import "../../colors";
@import "../../frameless";

$base-bg: $ui-white;

#view {
    background-color: $ui-gray;
    padding: 0;
}

.outer {
    .title-banner {
        &.masthead {
            margin-bottom: 0;
            background-color: $ui-yellow;
            padding: 0;

            h1 {
                text-align: center;
                color: $ui-white;
                font-size: 3rem;
            }

            p {
                margin: 0;
                width: $cols6;
                text-align: left;
                color: $ui-white;

                a {
                    border-bottom: 1px solid $ui-white;
                    color: $ui-white;
                }
            }
        }
    }

    .left-pusher {
        margin-right: auto;
        width: 8.75rem;
    }

    .tabs {
        width: 58.75rem;
    }

    /* HACK: sort controls are terrible. There's some sort of magic formula for height of formsy components that I can't control. */

    .sort-controls {
        display: flex;
        margin: 0 auto;
        border-bottom: 1px solid $ui-border;
        padding: 8px 0;
        width: 58.75rem;
        justify-content: space-between;
    }

    .sort-mode {
        margin-top: -4px;
        width: 13.75rem;

        .select {

            select {
                margin-bottom: 0;
                border: 0;
                background-color: transparent;
                height: 32px;
                color: $header-gray;

                &:focus,
                &:active {
                    background-color: transparent;
                }
            }

            .help-block {
                display: none;
            }
        }
    }

    .categories {
        justify-content: flex-start;

        li {
            border: 0;
            background-color: $active-gray;
            color: $ui-white;

            &.active {
                opacity: 1;
                background-color: $ui-aqua;
                color: $ui-white;

            }

            &:active {
                padding: .75em 1.5em;
            }

            &:hover {
                background-color: $active-dark-gray;
            }
        }
    }

    #projectBox {
        background-color: $ui-gray;
        padding-top: 16px;
        padding-bottom: 32px;
        width: 100%;

        .button {
            display: block;
            margin: 0 auto;
            width: 58.75rem;
        }
    }
}

//4 columns
@media #{$small} {
    .outer {
        .tabs {
            width: $cols4;
        }

        .sort-controls {
            width: $cols4;
        }

        #projectBox {
            .button {
                width: $cols4;
            }
        }
    }
}

//6 columns
@media #{$medium} {
    .outer {
        .tabs {
            width: $cols6;
        }

        .sort-controls {
            width: $cols6;
        }

        #projectBox {
            .button {
                width: $cols6;
            }
        }
    }
}

// 8 columns
@media #{$intermediate} {
    .outer {
        .tabs {
            width: $cols8;
        }

        .sort-controls {
            width: $cols8;
        }

        #projectBox {
            .grid {
                .flex-row {
                    width: $cols9;
                }
            }
            .button {
                width: $cols9;
            }
        }
    }
}
