@import "../../colors";
@import "../../frameless";

$base-bg: $ui-white;

#view {
    .box {
        display: block;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
    }   

    .box .box-content {
        padding: 0;
    }

    .carousel {
        padding: 15px;
        width: calc(100%-5px);
    }

    .thumbnail.project {
        width: 200px;
    }

    .thumbnail.project img {
        width: 200px;
        height: 150px;
    }

    #projectBox {
        border-top: 2px solid;
        border-color: $active-gray;
        background-color: $ui-white;
        padding-bottom: 30px;
        width: 100%;
    }

    .load button {
        outline: None;
        border: None;
        background-color: $ui-white;
        padding: 0;

        li {
            color: $header-gray;
        }
    }
}
