@import "../../colors";
@import "../../frameless";

$base-bg: $ui-white;

#view {
    .box {
        display: block;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;

        .box-content {
            padding: 0;
        }
    }   

    .select {
        display: inline-block;
        margin: auto 20px auto auto;
        width:100px;
        color: $header-gray;
    }

    #projectBox {
        border-top: 2px solid;
        border-color: $active-gray;
        background-color: $ui-white;
        padding-bottom: 30px;
        width: 100%;
    }

    .load button {
        outline: None;
        border: None;
        background-color: $ui-white;
        padding: 0;

        li {
            color: $header-gray;
        }
    }
}
