@use "../../colors";

.thumbnail-remove-button {
    position: absolute;
    top: -4px;
    right: -4px;
    background: colors.$ui-white;
    border: 1px solid colors.$ui-border;
    color: colors.$type-gray;
    font-size: 12px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;

    &:hover {
        background: colors.$ui-border;
    }
}
