@import "../../colors";

.thumbnail {
    .thumbnail-image,
    .thumbnail-title,
    .thumbnail-extra {
        display: block;
    }

    .thumbnail-image img {
        margin-bottom: 2px;
        border: 1px solid $ui-border;
    }

    .thumbnail-title,
    .thumbnail-extra {
        line-height: normal;
        word-wrap: break-word;
    }

    .thumbnail-title {
        margin-bottom: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: .9230em;
        font-weight: 800;
    }

    .thumbnail-extra {
        color: $type-gray;
        font-size: .8462em;
    }

}
