@import "../../colors";
@import "../../frameless";

$base-bg: $ui-white;

#view {
    padding: 0;
}

.hoc {
    .img,
    .button {
        &.card-info {
            width: calc(100% - 20px);
        }
    }

    .img {
        &.card-info {
            margin: 10px 10px 5px 10px;
            border-radius: 5px;
        }

        &.mod-border {
            border-radius: 5px;
            width: 100%;
        }

        &.mod-resource,
        &.mod-studio {
            margin-right: 15px;
        }

        &.mod-studio {
            float: left;
        }

        &.mod-logo {
            margin: 20px;
            max-width: 150px;
            max-height: 55px;
            vertical-align: middle;
        }
    }

    .button {
        &.card-info {
            margin: 0 10px 10px 10px;
        }
    }

    .section {
        display: flex;
        margin: 0 auto;
        border-bottom: 1px solid $ui-border;
        padding: 50px 0;
        width: 95%;
        text-align: center;

        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        &:last-child {
            border-bottom: 0;
        }

        &.title-banner-section {
            border: 0;
            padding: 10px 0;
            max-width: $desktop;
        }
    }

    .section-column {
        width: 100%;

        &.mod-split {
            min-width: 200px;
            max-width: 40%;
            text-align: left;
        }
    }

    .section-paragraph {
        margin: 10px auto 20px;
        max-width: 600px;
    }

    .title-banner {
        &.wbb-bg {
            background-image: url("/images/hoc2015/hide-bg.jpg");
        }

        &.dance-bg {
            background-image: url("/images/hoc2015/dance-bg.jpg");
        }

        &.name-bg {
            background-image: url("/images/hoc2015/name-bg.jpg");
        }
    }

    .flex-row-card {
        margin: 10px;
        border-radius: 7px;
        background-color: $active-gray;
        padding: 2px;

        width: 30%;
        min-width: 200px;
        max-width: 230px;
    }

    .flex-row-card-info {
        border-radius: 5px;
        background-color: $base-bg;
        width: 100%;
        height: 100%;
    }

    .resource,
    .studio {
        display: flex;
        margin: 10px 0;
        min-width: 200px;

        text-align: left;
        justify-content: center;
        align-items: center;
    }

    .resource {
        width: 33%;
    }

    .resource-anchor {
        display: block;
        margin: 5px 0;
        font-size: .8em;
    }

    .resource-info-header {
        margin: 0;
        line-height: inherit;
    }

    .studio {
        width: 50%;
    }

    .studio-info-header {
        margin: 8px 0;
        width: 200px;
        color: $ui-blue;
        font-weight: 500;

        &:hover {
            color: darken($ui-blue, 15);
        }
    }

    .logos {
        margin: 20px 0;
        width: 100%;
    }

    .trademark {
        margin-top: 20px;
    }
}

@media only screen and (max-width: $mobile - 1) {
    .hoc {
        .studio {
            display: inline-block;
        }
    }
}

//6 columns
@media only screen and (min-width: $mobile) and (max-width: $tablet - 1) {
    .hoc {
        .title-banner-section {
            max-width: $mobile;
        }

        .studio {
            display: inline-block;
        }
    }
}

//8 columns
@media only screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    .hoc {
        .img {
            &.mod-resource,
            &.mod-studio {
                margin: 0 auto;
            }

            &.mod-studio {
                float: none;
            }
        }

        .button {
            &.card-info {
                font-size: .7em;
            }
        }

        .flex-row-card {
            margin: 2px;
            min-width: 175px;
        }

        .resource,
        .studio {
            display: block;
            width: 30%;
            min-width: 180px;
            text-align: center;
        }

        .studio-info-header {
            width: 100%;
        }
    }
}
