@import "../../frameless";
@import "../../colors";

.grid {
    display: inline-block;
    width: 100%;

    $project-width: 220px;
    $project-height: 208px;

    $gallery-width: 200px;
    $gallery-height: 118px;

    .flex-row {
        margin: 0 auto;
        padding: 12px;
        width: $cols12;
        justify-content: flex-start;
    }

    .thumbnail {
        margin: 6px;
        padding: 0;

        &.project {
            margin-bottom: 16px;
            border-radius: 4px;
            box-shadow: 0 0 3px $box-shadow-gray;
            background-color: $ui-white;
            width: $project-width;
            height: $project-height;

            .thumbnail-image {
                margin: 8px auto;
                width: 204px;
                height: 152px;

                img {
                    margin: 0 auto;
                    border: 0;
                    border-radius: 4px;
                    width: 204px;
                    height: 152px;
                }
            }
        }

        &.gallery {
            margin-bottom: 16px;
            border-radius: 4px;
            box-shadow: 0 0 3px $box-shadow-gray;
            background-color: $ui-white;
            width: $project-width;
            height: 164px;

            .thumbnail-image {
                margin: 8px auto;
                width: 204px;
                height: 120px;

                img {
                    border: 0;
                    border-radius: 4px;
                    width: 204px;
                    height: 120px;
                }
            }
        }

        .thumbnail-info {
            margin: 0 auto;
            width: 204px;

            .creator-image {
                float: left;

                img {
                    margin-right: 8px;
                    border-radius: 4px;
                    width: 32px;
                    height: 32px;
                }
            }

            .thumbnail-title {
                float: left;
                max-width: 164px;

                .thumbnail-creator a {
                    color: $type-gray;
                }
            }
        }
    }

    &.column {
        flex-direction: column;
        justify-content: center;
    }

    //4 columns
    @media only screen and (max-width: $mobile - 1) {
        .flex-row {
            width: $cols4;
        }
    }

    //6 columns
    @media only screen and (min-width: $mobile) and (max-width: $tablet - 1) {
        .flex-row {
            width: $cols6;
        }
    }

    // 8 columns
    @media only screen and (min-width: $tablet) and (max-width: $desktop - 1) {
        .flex-row {
            width: $cols9;
        }
    }
}
