@import "../../../colors";
@import "../../../frameless";

.mod-social {
    min-height: 15rem;
    max-height: calc(100% - 8rem);
    overflow: hidden;
}

.social-modal-header {
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0 -1px 0 0 $ui-blue-dark;
    background-color: $ui-blue;
}

.social-modal-content {
    margin: 0 auto;
    box-shadow: none;
    width: 91%;
    height: calc(100% - 0rem);
    margin: 1rem auto 1.625rem;
    font-size: .9375rem;
}

.social-row {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    align-items: start;
}

.social-spaced-row {
    // width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.social-row-right {
    margin-left: auto;
}

.social-label-row {
    width: 100%;
    font-weight: bold;
    margin-bottom: .5rem;
    justify-content: space-between;
    align-items: flex-end;
}

.social-label-title {
    font-size: 1rem;
    margin-right: 1.5rem;
}

.social-label-item {
    margin-left: 1.5rem;
    margin-right: .25rem;
}

.social-label-result {
    color: $type-gray-75percent;
    transition: opacity 100ms linear;
}

.embed-section, .link-section {
    margin-top: 2rem;
}

.social-social-icon {
    width: 2.75rem;
    height: 2.75rem;
    margin-right: .75rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-twitter-icon {
    background-image: url("/images/social/twitter.png");
}

.social-facebook-icon {
    background-image: url("/images/social/facebook.png");
}

.social-google-classroom-icon {
    background-image: url("/images/social/google-classroom.png");
}

.social-wechat-icon {
    background-image: url("/images/social/wechat.png");
}

// NOTE: copied from subactions.scss. We should refactor to put this style in
// only one place.
.social-copy-link-button {
    background-color: $ui-blue;
    height: 2rem;
    text-decoration: none;
    line-height: 1.1875rem;
    font-weight: bold;
    margin-top: 0;

    &:before {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        vertical-align: bottom;
        content: "";
        background-image: url("/svgs/project/copy-link-white.svg");
    }

    &.social-copy-link-button-large {
        padding: 0 1.125rem .125rem 1rem;
        border-radius: 1.3125rem;
        height: 2.625rem;
        font-size: .9375rem;

        &:before {
            width: 1.0625rem;
            height: 1.0625rem;
            margin-right: .5rem;
        }
    }
}

// NOTE: copied from inplace-input.scss. We should refactor to put this style in
// only one place.
.social-embed-textarea, .social-link-textarea {
    transition: all .2s ease;
    border: 2px dashed $ui-blue-25percent;
    border-radius: 8px;
    background-color: $ui-light-gray;
    padding: .75rem .875rem;
    line-height: 1.25rem;
    color: $type-gray;
    font-size: .8125rem;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;

    width: 100%;
    height: 6rem;

    textarea {
        min-height: 4rem;
    }

    &:focus {
        transition: all .2s ease;
        outline: none;
        border: 2px solid $ui-blue;
        box-shadow: 0 0 0 4px $ui-blue-25percent;
    }
}

// NOTE: should probably be put in a shared css location
.social-hidden {
    opacity: 0.0;
}
