@use "../../colors";

.select {
    .fail {
        border: 1px solid colors.$ui-purple-dark;

        &:focus {
            box-shadow: 0 0 0 .25rem colors.$ui-orange-25percent;
            outline: none;
        }
    }
}
