@import "../../colors";

.select {
    .fail {
        border: 1px solid $ui-orange;

        &:focus {
            box-shadow: 0 0 0 .25rem $ui-orange-25percent;
            outline: none;
        }
    }
}
