@import "../../colors";
@import "../../frameless";

@include responsive-layout (".student-registration", ".slide");

html,
body {
    background-color: darken($ui-purple, 8%);
}

.teacher-registration {
    background-color: $ui-purple;
}
