@import "../../colors";

.welcome {
    .box-content {
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 100%;

        padding: 0;

        .welcome-banner {
            width: 100%;
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.125rem;
            text-align: center;
            color: $ui-cyan-blue;
            background-color: $ui-light-blue;
            padding: 0.625rem 0;
        }

        .welcome-options {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;

            padding: 1.5rem 0;

            .welcome-option-button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            
                width: 10rem;
                height: 13rem;
            
                border: 1px solid $ui-border-light-blue;
                border-radius: 20px;
            
                text-align: center;
            }
        }
    }
}
