@import "../../../colors";
@import "../../../frameless";

.mod-report * {
    box-sizing: border-box;
}

.mod-report {
    margin: 100px auto;
    outline: none;
    padding: 0;
    width: 30rem;
    user-select: none;
}

.report-modal-header {
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0 -1px 0 0 $ui-coral-dark;
    background-color: $ui-coral;
    padding-top: .75rem;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
}

.report-content-label {
    text-align: center;
    color: $type-white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.report-modal-content {
    margin: 1rem auto;
    width: 80%;
    line-height: 1.5rem;
    font-size: .875rem;
    
    .validation-message {
        $arrow-border-width: 1rem;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(23.5rem, 0);
        margin-left: $arrow-border-width;
        border: 1px solid $active-gray;
        border-radius: 5px;
        background-color: $ui-orange;
        padding: 1rem;
        max-width: 18.75rem;
        min-height: 1rem;
        overflow: visible;
        color: $type-white;

        &:before {
            display: block;
            position: absolute;
            top: 1rem;
            left: -$arrow-border-width / 2;

            transform: rotate(45deg);

            border-bottom: 1px solid $active-gray;
            border-left: 1px solid $active-gray;
            border-radius: 5px;

            background-color: $ui-orange;
            width: $arrow-border-width;
            height: $arrow-border-width;

            content: "";
        }
    }
}

.report-modal-field {
    position: relative;
}
