@import "../../colors";
@import "../../typography";

.cards {
    display: flex;
    margin: 1em 0;
    align-items: center;
    justify-content: center;

    .intro-content {
        float: left;
        width: 45%;
    }

    img {
        width: 45%;
    }
}

.cards-container {
    text-align: center;

    .card-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        div {
            display: inline-block;
            padding: .5em;

            a {
                display: block;

                .pdf-icon {
                    margin-right: .2em;
                    width: 1em;
                }
            }
        }
    }
}
