version: 2.1

aliases:
  - &defaults
    docker:
      - image: circleci/node:12-browsers
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    # working_directory: ~/repo

jobs:
  setup:
    <<: *defaults
    steps:
      - run:
        command: |
          echo "Setup step is happening here"
          pip install -r requirements.txt
          npm --production=false ci
          npm --production=false update


workflows:
  build-test-deploy:
    jobs:
      - setup:
          filters:
            branches:
              only:
                - circleci-project-setup # remove this before releasing
