@import "../../colors";

.tou-step-next-button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.tou-step-next-button {
    display: flex;
    height: 2.75rem;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background: $ui-dark-green;
    border: none;
    width: 100%;
}

.tou-step-error {
    color: $ui-red-dark;
    font-size: .9rem;
}

.tou-step-next-button-text {
    color: $type-white;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    gap: 8px;
}
