@import "../../colors";

.view {
    .bottom {
        position: relative;
        width: calc(100% - 80px);
        border-radius: 10px;
        border: 1px solid #D9D9D9;
        padding: 16px 20px 6px;
        background-color: white;
    }
        
    p {
        line-height: 1.5rem;
        word-wrap: break-word;
    }
    
    h1 {
        line-height: 2.6rem;
        font-size: 2.3rem;
        font-weight: 300;
    }
        
    h2 {
        font-size: 1.8rem;
        font-weight: 300;
    }
}
