@import "../../colors";
@import "../../typography";

#view {
    .guidelines-footer {
        text-align: center;
        margin-top: 1.5rem;
    }
    
    dl {
        dt {
            margin-top: 1.5rem;
        }
    }
}
