@import "../../../colors";

.beta-small-top-banner {
    background: $ui-orange;
    padding: 5px 0;

    .beta-small-top-container {
        justify-content: center;
    }

    .beta-copy,
    .beta-try-it {
        color: $ui-white;
        font-weight: 500;
    }

    .beta-copy {
        font-size: 1.1rem;
    }

    .beta-try-it {
        margin-left: 32px;
        border-radius: 8px;
        padding: .625rem 1.2rem;
        font-size: 1rem;
    }
}
