@import "../../../colors";

.beta-top-banner {
    display: flex;
    background-color: $ui-orange;
    background-image: url("/images/beta/bg-pattern.png");
    background-size: cover;
    padding: 0;
    height: 20rem;
    overflow: hidden;
    justify-content: center;

    .beta-top-container {
        flex-shrink: 0;
    }

    .beta-banner-image {
        display: flex;
        min-width: 0;
        align-self: flex-end;

        img {
            max-width: 100%;
            height: auto;
            align-self: flex-end;
        }

        &.left {
            margin-left: -2.5rem;
        }

        &.right {
            margin-right: -2.5rem;
        }
    }

    .beta-header,
    .beta-copy,
    .beta-try-it {
        color: $ui-white;
    }

    .beta-try-it {
        border-radius: 10px;
        padding: 1em 2em;
        font-size: 1em;
    }
}
