@import "../../colors";
@import "../../frameless";

#view {
    padding: 0;
}

.download {
    .title {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .legacy-link {
        display: flex;
    }

    .download-button {
        display: inline-block;
        margin: .5em 0;
        border: 0;
        border-radius: 8px;
        background-color: $ui-blue;
        cursor: pointer;
        padding: 1rem 2rem;
        color: $ui-white;
        font-size: 1rem;
    }

    .macos-badge img {
        height: 50px;
    }

    .ms-badge img {
        height: 50px;
    }

    .play-badge img {
        height: 50px;
    }

    .download-header {
        background-color: $ui-blue;
        padding: 4rem 0;
        color: $ui-white;


        .title {
            color: $ui-white;
        }

        .inner {
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        .download-info {
            padding-right: $cols1;
            max-width: $cols6 + ($gutter / $em);
            align-items: flex-start;

            .download-copy {
                margin-bottom: 5rem;
                align-items: flex-start;

                .download-title {
                    display: flex;
                    margin-bottom: 2rem;
                    color: $ui-white;
                    font-size: 2rem;
                }

                .icon {
                    padding-right: .5rem;
                    max-height: 100%;
                    align-self: center;
                }

                .download-description {
                    line-height: 1.7rem;
                    font-size: 1.2rem;
                }
            }

            .download-requirements-container {
                font-weight: 500;
                align-items: flex-start;

                .requirements-header {
                    margin-bottom: 1.5rem;
                }

                .download-requirements {
                    justify-content: space-between;
                    line-height: 2rem;
                }

                .download-requirements span {
                    display: flex;
                    margin-right: 1rem;
                    font-size: 15px;
                    align-items: center;
                }

                .download-requirements span img {
                    padding-right: .5rem;
                }
            }
        }

        .download-image {
            width: 100%;
            max-width: $cols6;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .install-scratch {
        padding: 2rem 0;

        .inner {
            align-items: flex-start;
        }

        .downloads-container {
            text-align: center;
        }

        .step-image {
            height: 14rem;
        }
    }

    .download-section {
        padding: 4rem 0;

        .inner {
            align-items: flex-start;
        }
    }

    .blue {
        background-color: $ui-blue-10percent;
    }

    .faq {
        p {
            margin-bottom: 1.25rem;
            margin-left: 0;
            max-width: $cols8;
            text-align: left;
        }

        .faq-question {
            margin-bottom: 0;
            font-size: 1.4rem;
        }
    }

    .older-version {
        padding-right: 24px;

        p {
            line-height: normal;
            color: $link-blue;
            font-weight: 600;
        }

        .little-arrow {
            padding-left: 2px;
        }

        .screenshot {
            margin-top: 1rem;
            $img-border: rgba(0, 0, 0, .05);
            border: 2px solid $img-border;
            border-radius: 8px;
        }
    }
}
