@import "../../colors";
@import "../../frameless";

$developer-spot: $splash-blue;

#view {
    padding: 0;
}

.download {
    .title-banner {
        &.masthead {
            background-color: $developer-spot;
            padding-bottom: 0;

            h1 {
                margin: 0 0 2rem 0;
                text-align: left;
                color: $ui-white;
            }

            p {
                margin: 0;
                text-align: left;
                color: $ui-white;

                a {
                    border-bottom: 1px solid $ui-white;
                    color: $ui-white;
                }
            }

            .band {
                $band-color: #3baddd;
                
                margin-top: 2rem;
                background-color: $band-color;
                padding: 1rem 0;
            }

            .sub-nav {
                text-align: left;
                justify-content: flex-start;

                li {
                    margin: 0 .5rem 0 0;
                }
            }
        }
    }
    
    .download-content {
        padding-bottom: 2rem;
    }
    
    .three-col-row {
        align-items: flex-start;
    }
    
    .installation {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
        
    .installation-column {
        max-width: $cols4;
    }
    
    .installation-downloads {
        padding-left: 0;
        list-style: none;
    }
    
    .installation-downloads-item {
        margin: .25rem;
        padding: 0;
    }
    
    section {
        margin-bottom: 2rem;
    }
    
    .mod-link {
        color: $ui-white;
    }
    
    @media only screen and (max-width: $mobile - 1) {
        .inner {
            .installation-column {
                max-width: 100%;
            }
        }
        
        .three-col-row {
            align-items: center;
        }
    }
}
