@import "../../colors";
@import "../../frameless";

$developer-spot: $splash-blue;

#view {
    padding: 0;
}

.download {
    .title-banner {
        &.masthead {
            margin-bottom: 0;
            background-color: $developer-spot;
            padding-bottom: 0;

            h1 {
                margin: 0 0 2rem 0;
                text-align: left;
                color: $ui-white;
            }

            p {
                margin: 0;
                text-align: left;
                color: $ui-white;

                a {
                    border-bottom: 1px solid $ui-white;
                    color: $ui-white;
                }
            }

            .band {
                $band-color: #3baddd;
                
                margin-top: 2rem;
                background-color: $band-color;
                padding: 1rem 0;
            }

            .sub-nav {
                text-align: left;
                justify-content: flex-start;

                li {
                    margin: 0 .5rem 0 0;
                }
            }
        }
    }

    .sub-nav-item {
        margin: .5rem;
    }

    .download-content {
        padding-bottom: 2rem;
    }

    .three-col-row {
        align-items: flex-start;
    }

    .installation {
        background-color: $ui-gray;
        padding: 2rem;
    }

    .installation-column {
        max-width: $cols4;
        text-align: center;
    }

    .installation-column-number {
        margin: 2rem auto;
        border: 2px solid $active-gray;
        border-radius: 2rem;
        box-shadow: 0 0 0 .5rem lighten($ui-blue, 35);
        background-color: $ui-blue;
        width: 3.75rem;
        height: 3.75rem;
    }

    .installation-column-number-text {
        text-align: center;
        line-height: 1.8em;
        color: $type-white;
    }

    .installation-downloads {
        padding-left: 0;
        list-style: none;
    }

    .installation-downloads-item {
        margin: .25rem;
        padding: 0;
        text-align: center;
    }

    section {
        margin-bottom: 2rem;
    }

    .mod-link {
        color: $ui-white;
    }
    
    @media only screen and (max-width: $mobile - 1) {
        .inner {
            .installation-column {
                max-width: 100%;
            }
        }
    }

    @media only screen and (max-width: $desktop - 1) {
        .three-col-row {
            flex-direction: column;
            align-items: center;
        }
    }
}
