@use "../../colors";
@use "../../frameless";

.crash-container {
    margin: 3rem auto;
    
    border: 1px solid colors.$ui-border;
    border-radius: 10px;
    background-color: colors.$background-color;
    width: 60%;
    overflow: hidden;
    text-align: center;
    
    img {
        width: 100%;
    }
    
    .crash-message {
        margin: 2rem;
    }

}
