@import "../../../colors";

.title-banner.mod-splash-hoc {
    background: url("/images/blocks-pattern.png");
    background-color: $ui-blue;
    background-repeat: repeat;
    background-size: 180px 180px;
}

.flex-row.mod-hoc-banner-header,
.flex-row.mod-hoc-banner-tiles {
    justify-content: space-between;
}

.hoc-banner-header-h1 {
    margin-bottom: 1.25rem;
    color: $type-white;
}

.button.mod-ttt-try-button {
    padding: .75rem 2rem;
}

.button.mod-ttt-try-button,
.button.mod-ttt-try-button:hover {
    box-shadow: none;
}

.button.mod-ttt-try-button:link,
.button.mod-ttt-try-button:visited,
.button.mod-ttt-try-button:active
.button.mod-ttt-try-button:hover {
    color: $type-white;
}

.ttt-tile.mod-banner {
    background-color: $background-color;
}
