@import "../../colors";

.formset {
    .counterindicator {
        display: inline-block;

        &.active {
            background-color: $ui-blue;
        }

        &.selected {
            border: 2px solid $ui-blue;
        }
    }
}
