@use "../../../colors";
@use "../../../frameless";

#donor {
   color: colors.$type-gray;
   font-size: .875rem;
   line-height: 1.5em;
   background-color: colors.$ui-gray;
   padding-bottom: 2.5rem;
   padding-top: 1rem;
   #donor-text {
       text-align: center;
       width: frameless.$cols12;
       margin: 0 auto;
   }
}

@media only screen and (min-width: frameless.$tabletPortrait) and (max-width: frameless.$desktop) {
    #donor {
        #donor-text {
            width: frameless.$cols11;
        }
    }
}
@media only screen and (min-width: frameless.$mobile) and (max-width: frameless.$tabletPortrait) {
    #donor {
        #donor-text {
            width: frameless.$cols6;
        }
    }
}
@media only screen and (max-width: frameless.$mobile) {
    #donor {
        #donor-text {
            width: frameless.$cols4;
        }
    }
}
