@import "../../../colors";

.comment-container {
    width: 100%;
    justify-content: flex-end;
}

.comment {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    .comment-top-row {
        margin-bottom: 8px;
        width: 100%;

        .username {
            margin-right: auto;
        }
    }

    .avatar {
        margin-right: .3125rem;
    }

    .comment-body {
        margin-bottom: 24px;
        min-width: 50%;
        flex-grow: 1;
        align-items: flex-start;

        .comment-bubble {
            position: relative;
            margin-left: 10px;
            border: 1px solid $ui-blue-25percent;
            border-radius: 0 8px 8px 8px;
            background-color: $ui-white;
            padding: 10px;
            width: calc(100% - 10px);
            box-sizing: border-box;

            &:before {
                display: inline-block;
                position: absolute;
                top: -1px;
                left: -11px; // width + 1px
                border-width: 1px 0 1px 1px;
                border-style: solid;
                border-radius: 0 0 0 8px;
                border-color: $ui-blue-25percent transparent $ui-blue-25percent $ui-blue-25percent;
                background: $ui-white;
                width: 10px;
                height: 9px;
                content: "";
            }
        }

        .comment-content {
            overflow-wrap: break-word;
        }

        .comment-bottom-row {
            padding-top: 10px;
            font-size: 12px;
            justify-content: space-between;
        }
    }
}

.replies {
    margin-left: 4rem;
    width: 100%;
}
