@import "../../../colors";

.comment {
    justify-content: space-between;
    flex-grow: 1;

    .comment-top-row {
        width: 100%;
        .username {
            margin-right: auto;
        }
    }

    .avatar {
        margin-right: .3125rem;
    }

    .comment-body {
        flex-grow: 1;

        .comment-bubble {
            border: 1px solid $ui-blue-25percent;
            border-radius: .5rem;
            background-color: $ui-white;
            padding: .625rem;
            width: 100%;
        }

        .comment-bottom-row {
            justify-content: space-between;
        }
    }
}
