@import "../../../colors";
@import "../../../frameless";

.modal-content {
    position: relative;
    margin: 3.75rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 0 1px $active-gray;
    background-color: $ui-white;
    padding: 0;
    width: 48.75rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: transparentize($ui-blue, .3);
}

.ReactModal__Content:focus {
    outline: none;
}

$modal-close-size: 1rem;
.modal-content-close {
    position: absolute;
    top: $modal-close-size / 2;
    right: $modal-close-size / 2;
    border-radius: $modal-close-size;
    background-color: $active-dark-gray;
    cursor: pointer;
    width: $modal-close-size * 2;
    height: $modal-close-size * 2;
    text-align: center;
    line-height: $modal-close-size * 2;
}

.modal-content-close-img {
    padding-top: $modal-close-size / 2;
}

@media only screen and (max-width: $desktop - 1) {
    .modal-content {
        top: 0;
        left: 0;
        margin-top: 0;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .modal-content-close {
        position: fixed;
    }
}
