@import "../../colors";
@import "../../frameless";

html,body{
    background-color: $ui-white !important;
}

.col{
    display: flex;
    flex-direction: column !important;
}
.row{
    display: flex;
    flex-direction: row;
}
.center-flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;

    .left-arrow{
        padding-right: 4px;
        @media #{$small} {
            padding: 0px;
        }
    }
    .right-arrow{
        padding-left: 4px;
        @media #{$small} {
            padding: 0px;
        }
    }
}

.no-invitation{
    display: flex;
    max-width: 640px;
    margin: auto;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1.8rem;
    padding: 20px;
    box-sizing: border-box;

    h2{
        margin: 20px 0px;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px;
    .section{
        @media #{$medium-and-smaller} {
            display: none;
        }
    }
}

.modal-overlay{
    background-color: rgba(0,0,0, 0.5) !important;
}

.modal-content{
    line-height: 1.8rem !important;
    box-shadow: none !important;
    border-radius: 8px !important;

    .finish-later-modal-header{
        background-color: $ui-blue;
        color: $ui-white;
        height: 46px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px 7px 0px 0px;
    }

    .finish-later-modal-content{
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button{
            padding: 5px 10px;
        }
    }

    h3{
        margin-bottom: 10px;
        text-align: center;
    }

    .profile-page-image{
        margin: 35px;
        width: 100%;
        max-width: 400px;
    }
}

.congratulations-page{
    display: flex;
    align-items: normal;
    min-height: 100vh;

    @media #{$medium-and-smaller} {
        flex-direction: column;
    }

    .header{
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        @media #{$medium-and-smaller} {
            position: static;
            flex-direction: row;
        }
    }

    .congratulations-text-layout{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        justify-content: space-between;
    
        @media #{$medium-and-smaller} {
            padding-top: 0px;
        }
    
        .center-text{
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
        }

        .congratulations-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 700px;
            margin: auto;
        }
    }
    .congratulations-image-layout{
        flex: .9;
        display: flex;
        position:relative;
        justify-content: center;
        background-color: #E9F1FC;
        @media #{$medium-and-smaller} {
            width: 100vw;
            order: -1;
            margin-top: -90px;
        }
        .congratulations-image-container{
            position: relative;
            display: flex;
            margin: auto;
            height: 375px;
        }
    }
    .congrats-banner-image{
        width: 328px;
    }
}



.invitation-card{
    background-color: white;
    margin: 10px;
    border-radius: 7px;
    padding: 40px;
    text-align: center;
    max-width: 600px;

    .invitation-image{
        margin-bottom: 20px;
    }

    .invitation-icon{
        border-radius: 3px;
        width: 50px;
        margin: 0px 10px;
    }

    button{
        margin: 10px;
        margin-top: 30px;
    }

    .invitation-buttons{
        display: flex;
        justify-content: center;
    }
}

.blue-background{
    background-color: #3373cc;
}

.labeled-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        margin-right: 20px;
    }
}

.navigation{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;

    .dotRow{
        display: flex;
        justify-content: space-between;
        width: 244px;
        min-width: 0px;
        padding: 0px 5px;
    }

    .dot{
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #d9d9d9;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .active{
        border: solid 2px #4280d9;
        background-color: #4c97fe;
        margin-top: -2px;
    }

    .navText{
        @media #{$small} {
            display: none;
        }
    }
}


.onboarding {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    line-height: 1.8rem;
    font-size: 1.1rem;

    h1{
        line-height: 3rem;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    button{
        padding: .3em .9em;
    }

    .content{
        flex: 1;
        display: flex;
        max-width: 1000px;
        padding: auto;
        margin: auto;
        @media #{$medium-and-smaller} {
            flex-direction: column;
        }
    }

    button.finish-later{
        background-color: rgba(0,0,0,0);
        color: $ui-blue;
        border: solid 1px $ui-blue;
    }

    button.secondary-finish-later{
        background-color: rgba(0,0,0,0);
        color: $ui-white;
        border: solid 1px $ui-white;
    }

    button.go-back{
        background-color: $ui-white;
        color: $ui-blue;
        border: solid 1px $ui-blue;
    }

    .image-content{
        display: flex;
        position: relative;
        flex: 4;
        justify-content: center;
        align-items: center;
        @media #{$medium-and-smaller} {
            flex: 12;
            order: 1;
            align-items: flex-end;
        }

        img{
            @media #{$medium-and-smaller} {
                width: 300px;
                height: 300px;
            }
        }
    }

    .image-inner-content{
        position: relative;
    }
    
    .image-content-1{
        display: flex;
        flex: 4;
        justify-content: center;
        align-items: center;
        @media #{$medium-and-smaller} {
            flex: 12;
            order: 1;
            align-items: flex-end;
            height: 250px;
        }

        img{
            z-index: 100;
            @media #{$medium-and-smaller} {
                width: 300px;
                height: 300px;
            }
        }

        @media #{$medium-and-smaller} {
            background-color: #E9F1FC;
        }
    }

    .text-content{
        flex: 8;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 40px;
        @media #{$medium-and-smaller} {
            flex: 12;
            order: 2;
            padding-top: 0px;
            justify-content: flex-start;
        }
    }

    .opening-text-content{
        flex: 6;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        padding: 40px;
        display: flex;
        align-items: flex-start;
        @media #{$medium-and-smaller} {
            flex: 12;
            order: 2;
            padding-top: 0px;
        }
    }
}

.hooray-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    h1{
        text-align: center;
    }

    .hooray-links{
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hooray-link{
        display: flex;
        margin: 15px;
        margin-top: 40px;
        margin-bottom: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hooray-confetti{
        opacity: 1;
    }

    .hooray-appear{
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
    .hooray-disappear{
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
}

.congratulations-avatar{
    position: absolute;
    border-radius: 15%;
    width: 60px;
    height: 60px;
    top: 170px;
    left: 124px;
}

.congratulations-username{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: absolute;
    top: 231px;
    left: -18px;
    right: 0;
}

.security-avatar{
    position: absolute;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    top: 172px;
    left: 149px;
    @media #{$medium-and-smaller} {
        width: 60px !important;
        height: 60px !important;
        top: 140.5px;
        left: 121.5px;
    }
}
