@import "../../colors";

.comment-text {
    position: relative;
    border: 1px solid $ui-border;
    border-radius: 0 5px 5px 5px;
    padding: 1rem;
}

.comment-text:before {
    display: block;
    position: absolute;
    top: -1px;
    left: -13px;
    border-bottom: 12px solid $ui-border;
    border-left: 13px solid $ui-border;
    border-radius: 0 0 0 13px;
    width: 0;
    content: "";
}

.comment-text:after {
    display: block;
    position: absolute;
    top: 0;
    left: -12px;
    border-bottom: 10px solid $ui-white;
    border-left: 12px solid $ui-white;
    border-radius: 0 0 0 12px;
    width: 0;
    content: "";
}

.emoji-text.mod-comment {
    margin: 0;
    overflow: hidden;
}

.comment-text-timestamp {
    margin: 1rem 0 0;
    color: $ui-dark-gray;
    font-size: .8rem;
}
