@use "../../frameless";
@use "../../colors";

.join-page {
    display: flex;
    flex-direction: column;
    background-color: colors.$ui-blue;
}

.join-header {
    position: relative;
    z-index: 1000;
    padding: 12px 0 0 calc(25% - 76px);

    .logo {
        width: 76px;
    }
}

@media #{frameless.$small}, #{frameless.$medium}, #{frameless.$intermediate} {
    .join-header {
        padding-left: calc(50% - 38px);
    }
}

.mod-join-overlay {
    position: relative;
    min-height: 100vh;

    &::before {
        content: "";
        position: fixed;
        inset: 0;
        background-color: colors.$ui-blue;
    }
}

.join-read-only-mode-banner {
    z-index: 1001;
}