@use "../../colors";

$navigation-height: 50px;

.banner {
    position: sticky;
    top: $navigation-height;
    z-index: 9;
    box-shadow: 0 1px 1px colors.$ui-dark-gray;
    background-color: colors.$ui-orange;
    width: 100%;
    overflow: hidden;
    text-align: center;
    line-height: $navigation-height;

    &,
    a {
        color: colors.$ui-white;
    }

    a {
        text-decoration: underline;
    }

    .close {
        float: right;
        margin-top: $navigation-height * 0.25;
        border-radius: $navigation-height * 0.25;
        background-color: colors.$box-shadow-gray;
        width: $navigation-height * 0.5;
        height: $navigation-height * 0.5;
        text-decoration: none;
        text-shadow: none;
        line-height: $navigation-height * 0.5;
        color: colors.$ui-white;
        font-weight: normal;
    }

    &.warning {
        background-color: colors.$ui-red-dark;
    }    
}
