@import "../../colors";

.admin-panel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    border: 1px solid $ui-gray;
    box-shadow: 0 2px 5px $box-shadow-gray;
    background-color: $ui-gray;
    padding: 1rem;
    width: 230px;
    height: 100%;
    overflow: scroll;
    text-shadow: none;

    &.hidden {
        width: 10px;
    }

    .toggle {
        float: right;
        cursor: pointer;
    }

    .button-row {
        display: flex;
        font-size: small;
        align-items: center;
        justify-content: space-between;

        .button {
            padding: .5rem 1rem;

            &.inprogress {
                background-color: $ui-dark-gray;
                color: $type-gray;
            }
        }
    }
}
