@import "../../colors";

#admin-panel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    border: 1px solid $ui-gray;
    box-shadow: 0 2px 5px $box-shadow-gray;
    background-color: $ui-gray;
    padding: 1rem;
    height: 100%;
    overflow: scroll;
    text-shadow: none;

    &.visible {
        width: 20%;
        min-width: 180px;
        max-width: 230px;
    }

    &.hidden {
        width: 10px;
    }

    .toggle {
        float: right;
        cursor: pointer;
    }

    .admin-content {
        dl {
            list-style: none;

            dt {
                margin: 2rem 0 1rem 0;
                border-bottom: 1px solid $ui-dark-gray;
                font-size: large;
                font-weight: 700;
            }
           
            dd {
                margin-left: 0;
            }
        }

        ul {
            padding: 0;

            li {
                margin: 0;
                list-style: none;

                .button-row {
                    display: flex;
                    font-size: small;
                    align-items: center;
                    justify-content: space-between;

                    .button {
                        background-color: $ui-dark-gray;
                        padding: .5rem 1rem;
                    }
                }
            }
        }
    }
}
