@import 'colors';

.dropdown {
    position: absolute;
    right: 0;
    min-width: 240px;
    max-width: 260px;
    background-color: $base-background-color;
    overflow: visible;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    color: white;
    font-weight: normal;
    font-size: 0.8125rem;
    border: 1px solid $active-background-color;

    display: none;
    &.open {
        display: block;
    }

    a {
        color: white;
        background-color: transparent;
    }

    input {
        // 100% minus border and padding
        width: calc(100% - 30px);
        margin-bottom: 12px;
    }

    label {
        display: block;
        margin-bottom: 5px;        
    }
    
    > li {
        display: block;
        line-height: 30px;

        &.divider {
            border-top: 1px solid #149acb;
            margin-top: 10px;
        }

        a {
            display: block;
            padding: 0 10px;

            &:hover {
               background-color: $active-background-color;
               text-decoration: none;
            }
        }
    }        

    &.with-arrow {
        $arrow-border-width: 14px;
        margin-top: $arrow-border-width;
        border-radius: 5px;
        overflow: visible;
        &:before {        
            position: absolute;
			display: block;
			top: -$arrow-border-width/2;
			right: 10%;
			
			height: $arrow-border-width;
			width: $arrow-border-width;
			content: '';
			transform: rotate(45deg);
			
			background-color: $base-background-color;
			border-top: 1px solid $active-background-color;
			border-left: 1px solid $active-background-color;
			border-radius: 5px;
			
        }
    }
}
