@import 'colors';

#navigation {
    position: fixed;
    z-index: 10;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $base-background-color;
    
    /* NOTE: Height should match offset settings in main.scss file */
    height: 50px;

    .inner > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;

        height: 50px;
        margin: 0;
        padding: 0;
        list-style: none;
        
        > li {
            display: inline-block;
            align-self: flex-start;
            float: left;
            height: 100%;
            position: relative;
        }

        .logo {
            margin-right: 10px;
            a {
                display: block;
                width: 81px;
                height: 50px;
                margin: 0px 6px 0 0;

                border: none;
                background-image: url('/images/logo_sm.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 95%;
                transition: .15s ease all;

                &:hover {
                   background-size: 100%;
                   transition: .15s ease all; 
                }
            }
        }

        .link {
            > a {
                display: block;
                height: 33px;
                padding: 17px 15px 0px 15px;
                
                color: white;
                text-decoration: none;
                font-size: 0.85rem;
                white-space: nowrap;
                font-weight: bold;
            }

            > a:hover {
                background-color: $active-background-color;
            }
        }

        .search {
            flex-grow: 3;
            border-right: none;
            color: white;
            margin:0px 20px;

            form {
                margin: 0;
            }

            input {
                display: inline-block;
                height: 14px;
                outline: none;
                border: none;
                background-color: $active-background-color;
                margin-top:5px;
            }

            input[type=submit] {
                position: absolute;
                width: 40px;
                height: 40px;
                
                background-color: transparent;
                
                background-image: url('/images/nav-search-glass.png');
                background-size: 14px 14px;
                background-repeat: no-repeat;
                background-position: center center;     
            }

            input[type=text] {
                width: calc(100% - 50px);
                height: 40px;
                padding: 0;
                
                color: white;
                padding-left: 40px;
                padding-right:10px;
                font-size: 0.85em;
                transition: .15s ease background-color; 
                
                &::placeholder {
                    color:rgba(255, 255, 255, 0.75);
                }
                
                &:focus {
                    background-color: rgba(0, 0, 0, 0.2);
                    transition: .15s ease background-color;
                }
            }

            .ie9 input[type=text] {
                width: 70px;
            }
        }

        .right {
            align-self: flex-end;
            float: right;
            margin-left: auto;

            a:hover {
                background-color: $active-background-color;
            }
        }

        .messages, .mystuff {
            > a {
                background-repeat: no-repeat;
                background-position: center center;
                padding-left: 10px;
                padding-right: 10px;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;

                background-size: 45%;
                background-repeat: no-repeat;
                background-position: center center;
                width: 30px;
            }

            > a:hover {
                background-size: 50%;
            }
        }

        .messages {
            > a {
                background-image: url('/images/nav-notifications.png');
            }
        }

        .mystuff {
            > a {
                background-image: url('/images/mystuff.png');
            }
        }

        .login-dropdown {
            width: 200px;
        }

        .account-nav {
            .userInfo {
                    padding-top: 11px;
                    padding-bottom: 6px;
                }
            
            > a {
                font-weight: normal;
                font-size: 0.8125rem;

                .avatar {
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                    vertical-align: middle;
                    border-radius: 3px;
                }

                &:after {
                    width: 20px;
                    height: 20px;
                    content: " ";
                    display: inline-block;
                    vertical-align: middle;

                    background-image: url('/images/dropdown.png');
                    background-size: 50%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    
                    margin-left: 5px;
                }
            }

            .dropdown {
                width: 100%;
                padding: 0;
                padding-top: 5px;
            }
        }
    }
}
