$base-background-color: #0f8bc0;
$border-color: rgb(20, 154, 203);

#navigation {
    position: fixed;
    z-index: 10;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $base-background-color;
    
    /* NOTE: Height should match offset settings in main.scss file */
    height: 35px;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;

        height: 35px;
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            display: inline-block;
            align-self: flex-start;
            float: left;
            height: 100%;
            border-left: 1px solid $border-color;
            position: relative;
        }

        .logo {
            border-left: none;

            a {
                display: block;
                width: 80px;
                height: 35px;
                margin: 4px 6px 0 0;

                border: none;
                background-image: url('/images/logo_sm.png');
                background-repeat: no-repeat;

                &:hover {
                   background-image: url('/images/logo_sm_highlight.png');    
                }
            }
        }

        .link {
            > a {
                display: block;
                height: 28px;
                padding: 7px 15px 0 15px;
                
                color: white;
                text-decoration: none;
                font-size: 0.95rem;
                white-space: nowrap;
            }

            > a:hover {
                background-color: rgb(1, 96, 135);
            }
        }

        .search {
            flex-grow: 3;
            border-right: none;

            form {
                margin: 6px 0 0 15px;
            }

            input {
                display: inline-block;
                height: 14px;
                outline: none;
                border: none;
            }

            input[type=submit] {
                position: absolute;
                width: 30px;
                height: 22px;

                background-color: white;
                background-image: url('/images/nav-search-glass.png');
                background-repeat: no-repeat;
                background-position: center center;
                border-right: 1px solid #efefef;
                border-radius: 10px 0 0 10px;
            }

            input[type=text] {
                width: calc(100% - 50px);
                padding-left: 36px;
                border-radius: 10px;
                font-size: 0.85em;
            }

            .ie9 input[type=text] {
                width: 70px;
            }
        }

        .right {
            align-self: flex-end;
            float: right;
            margin-left: auto;
            font-weight: bold;

            > a:hover {
                background-color: #f79231;
            }

            &:last-child {
                border-right: 1px solid rgb(20, 154, 203);
            }
        }

        .dropdown {
            $dropdown-padding-h: 14px;
            $dropdown-padding-v: 9px;
            position: absolute;
            right: 0;
            width: 200px;
            padding: $dropdown-padding-v $dropdown-padding-h;
            background-color: $base-background-color;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
            color: white;
            font-weight: normal;
            font-size: 0.8125rem;

            display: none;
            &.open {
                display: block;
            }

            $arrow-border-width: 11px;
            margin-top: $arrow-border-width;
            &:before {
                position: absolute;
                display: block;
                right: 10%;
                top: -$arrow-border-width;
                left: auto;
                border-color: transparent;
                border-bottom-color: $base-background-color;
                border-style: solid;
                border-width: 0 $arrow-border-width $arrow-border-width $arrow-border-width;
                content: " ";
            }

            a {
                color: white;
            }
    
            input {
                // 100% minus border and padding
                width: calc(100% - 2px - 8px);
                margin-bottom: 9px;
            }
    
            label {
                display: block;
                margin-bottom: 5px;        
            }

        }
    }
}
