@import "../../colors";

#navigation {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid $active-gray;

    box-shadow: 0 0 3px $box-shadow-gray;
    background-color: $ui-blue;


    width: 100%;   
    /* NOTE: Height should match offset settings in main.scss file */
    height: 50px;

    .inner > ul {
        display: flex;
        margin: 0;
        padding: 0;
        height: 50px;
        list-style: none;

        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        

        > li {
            display: inline-block;
            position: relative;
            float: left;
            height: 100%;
            align-self: flex-start;
        }

        .logo {
            margin-right: 10px;

            a {
                display: block;
                transition: .15s ease all;
                margin: 0 6px 0 0;
                border: 0;

                background-image: url("/images/logo_sm.png");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 95%;
                width: 81px;
                height: 50px;

                &:hover {
                    transition: .15s ease all; 
                    background-size: 100%;
                }
            }
        }

        .link {
            > a {
                display: block;
                padding: 17px 15px 0 15px;
                height: 33px;
                
                text-decoration: none;
                white-space: nowrap;
                color: $type-white;
                font-size: .85rem;
                font-weight: bold;
            }

            > a:hover {
                background-color: $active-gray;
            }
        }

        .search {
            margin: 0 20px;
            border-right: 0;
            color: $type-white;
            flex-grow: 3;

            form {
                margin: 0;
            }

            input {
                display: inline-block;
                margin-top: 5px;
                outline: none;
                border: 0;
                background-color: $active-gray;
                height: 14px;
            }

            input[type=submit] {
                position: absolute;
                
                background-color: transparent;
                background-image: url("/images/nav-search-glass.png");
                background-repeat: no-repeat;
                background-position: center center;     
                background-size: 14px 14px;
                
                width: 40px;
                height: 40px;
            }

            input[type=text] {
                transition: .15s ease background-color; 
                padding: 0;
                padding-right: 10px;
                padding-left: 40px;
                width: calc(100% - 50px);
                height: 40px;
                color: $type-white;
                font-size: .85em;

                &::placeholder {
                    $placeholder-transparent: rgba(255, 255, 255, .75);
                    color: $placeholder-transparent;
                }

                &:focus {
                    transition: .15s ease background-color;
                    background-color: $active-dark-gray;
                }
            }

            .ie9 input[type=text] {
                width: 70px;
            }
        }

        .right {
            float: right;
            margin-left: auto;
            align-self: flex-end;

            a:hover {
                background-color: $active-gray;
            }
        }

        .messages,
        .mystuff {
            > a {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 45%;
                padding-right: 10px;
                padding-left: 10px;
                width: 30px;
                overflow: hidden;
                text-indent: 50px;
                white-space: nowrap;
            }

            > a:hover {
                background-size: 50%;
            }
        }

        .messages {
            > a {
                background-image: url("/images/nav-notifications.png");
            }

            .messageCount {
                display: none;
                
                &.show {
                    display: block;
                    position: absolute;
                    top: .5rem;
                    right: .25rem;
                    border-radius: 1rem;
                    background-color: $ui-orange;
                    padding: 0 .25rem;
                    text-indent: 0;
                    line-height: 1rem;
                    color: $type-white;
                    font-size: .7rem;
                    font-weight: bold;
                }
            }
        }

        .mystuff {
            > a {
                background-image: url("/images/mystuff.png");
            }
        }

        .login-dropdown {
            width: 200px;
        }

        .account-nav {
            .userInfo {
                padding-top: 14px;
                padding-bottom: 3px;
            }

            > a {
                font-size: .8125rem;
                font-weight: normal;

                .avatar {
                    margin-right: 10px;
                    border-radius: 3px;
                    width: 24px;
                    height: 24px;
                    vertical-align: middle;
                }

                &:after {
                    display: inline-block;
                    margin-left: 8px;

                    background-image: url("/images/dropdown.png");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50%;
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                    content: " ";
                }
            }

            .dropdown {
                padding: 0;
                padding-top: 5px;
                width: 100%;
            }
        }
    }
}
