@import "../../colors";
@import "../../frameless";

$sec-spot: $ui-blue;

#view {
    padding: 0;
}

.education-collaborative {
    .title-banner {
        &.masthead {
            background-color: $sec-spot;
            padding: 50px 0 0 0;
            margin: 0;

            .masthead-info {
                align-items: center;
                justify-content: space-between;

                @media #{$intermediate} {
                    justify-content: end;
                }

                .long {
                    padding-bottom: 2rem;
                }

                h1 {
                    margin: 0 0 1rem 0;
                    text-align: left;
                    color: $ui-white;
                }
                p {
                    margin: 0;
                    text-align: left;
                    color: $ui-white;
                    max-width: $cols6;
                    font-size: 1.65em;
                }

                .title-banner-button {
                    background-color: $ui-white;
                    color: $ui-blue;
                    font-size: 1rem;
                    padding: 0.75rem 1rem;
                    img {
                        margin-right: 1rem;
                        height: 1.2rem;
                        vertical-align: middle;
                    }

                    a {
                        color: $ui-white;
                    }

                    span {
                        vertical-align: middle;
                    }
                }

                .title-banner-img {
                    width: $cols4;
                }

                .sec-apply-buttons {
                    margin-top: 2rem;
                    li {
                        border: 2px solid $ui-white;
                        padding: 16px;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    section {
        margin-bottom: 3rem;

        p, ul {
            max-width: $cols8;
        }
    }

    .band {
        background: $ui-light-primary;
        padding: 0.5rem 0;

        h4.applyBanner {
            color: $ui-blue;
        }
    }
    .sec-faq {
        margin-top: 3rem;
        dl {
            dt {
                margin-bottom: .25rem;
                font-size: 1.1rem;
            }

            dd {
                margin-bottom: 1.25rem;
                margin-left: 0;
                max-width: $cols8;
                text-align: left;
            }
        }
    }
}



@media #{$intermediate, $medium, $small} {
    #view {
        text-align: left;
    }
}




