@import "../../../../colors";
@import "../../../../frameless";

#navigation {
    .ul.2019 {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        align-items: center;
        list-style-type: none;
    }

    .li-left.2019 {
        margin-top: 0;
        margin-right: 10px;
        color: $type-white;
    }

    .logo-a {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .logo-a-image {
        margin-right: 10px;
        border-right: 2px solid $active-gray;
        padding-right: 10px;
        width: 80px;
    }

    .logo-a-title {
        text-decoration: none;
        white-space: nowrap;
        color: $type-white;
        font-size: .85rem;
        font-weight: bold;
    }
}
