@import "../../colors";
@import "../../frameless";

@include responsive-layout (".deck", ".slide");

.deck {
    min-height: 100vh;

    img {
        padding: 10px 0;
        width: 125px;
    }

    .step-navigation {
        margin-top: 2rem;
    }
}

.slide {
    max-width: 28.75rem;

    h2,
    p {
        text-align: center;  
        color: $type-white;  
    }

    .description {
        margin-top: 0;
        margin-bottom: 2rem;
    }
}

.card {
    margin: 0 auto;
    width: 23.75rem;

    &,
    h2,
    p {
        color: $type-gray;
    }
}

.step-navigation {
    text-align: center;
}

.form {
    padding: 3rem 4rem;

    .form-group {        
        margin-bottom: 2rem;

        &.has-error {
            .input {
                border: 1px solid $ui-orange;
            }
        }
    }

    .button {
        margin: 0 0 -3rem -4rem;
        border-radius: .5rem;
        box-shadow: none;
        width: 23.75rem;
        height: 4rem;

        &.card-button {
            display: block;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background-color: $ui-aqua;
        }

        &:hover {
            box-shadow: none;
        }
    }
}

.input {
    width: $cols5;
}

.help-block {
    $arrow-border-width: 1rem;
    display: block;
    position: absolute;
    margin-left: $arrow-border-width;
    border: 1px solid $active-gray;
    border-radius: 5px;
    background-color: $ui-orange;
    padding: 1rem;
    max-width: 18.75rem;
    min-height: 1rem;
    max-height: 3rem;
    overflow: visible;
    color: $type-white;

    &:before {
        display: block;
        position: absolute;
        top: 1rem;
        left: -$arrow-border-width / 2;

        transform: rotate(45deg);

        border-bottom: 1px solid $active-gray;
        border-left: 1px solid $active-gray;
        border-radius: 5px;

        background-color: $ui-orange;
        width: $arrow-border-width;
        height: $arrow-border-width;

        content: "";
    }
}

.radio {
    width: 50%;
    line-height: 3rem;

    input {
        margin-right: 1rem;
    }
}

@media only screen and (max-width: $tablet - 1) {
    .input {
        width: 90%;
    }
}

@media only screen and (max-width: $desktop - 1) {
    .help-block {
        position: relative;
        transform: none;
        margin: inherit;
        width: 100%;
        height: inherit;

        &:before {
            display: none;
        }
    }
}
