@import "../../../colors";
@import "../../../frameless";

.modal-content.mod-ttt {
    overflow: hidden; // Needed to put banner background behind border.
}

.title-banner.mod-ttt {
    margin-bottom: 0;
    background-color: transparent;
    padding: 0;
}

.mod-ttt-img {
    padding: 0;
    width: 100%;
}

.ttt-title {
    text-align: center;
}

.ttt-description {
    margin: 0;
    font-size: 1.1rem;
}

.modal-content-ttt {
    padding: 0 5rem;
    list-style: none;
}

.flex-row.mod-ttt-item {
    margin: 0;
    border-top: 1px dashed $ui-border;
    padding: .5rem;
    justify-content: space-between;
}

.modal-content-ttt-text {
    max-width: 70%;
}

.modal-content-ttt-title,
.modal-content-ttt-subtitle {
    margin: 0;
    font-size: .875rem;
}

.modal-content-ttt-title {
    font-weight: 500;
}

.modal-content-ttt-title-img {
    margin-right: .25rem;
    width: 1.25rem;
    vertical-align: middle;
}

.button.white.mod-ttt-item {
    border: 1px solid $ui-blue;
    box-shadow: none;
}

@media only screen and (max-width: $mobile - 1) {
    .modal-content.mod-ttt {
        overflow: scroll;
    }

    .modal-content-ttt {
        padding: 0;
    }

    .modal-content-ttt {
        text-align: center;
    }
}

@media only screen and (min-width: $mobile) and (max-width: $tablet - 1) {
    .modal-content.mod-ttt {
        overflow: scroll;
    }

    .modal-content-ttt {
        padding: 0 2.5rem;
    }

    .flex-row.mod-ttt-item {
        flex-direction: row;
    }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    .modal-content.mod-ttt {
        overflow: scroll;
    }
}
