@import "../../colors";

$base-bg: $ui-white;

/* Copied from the un-styleable react-modal */

.ReactModal__Overlay {
    z-index: 100;
    background-color: $overlay-gray;
}

.ReactModal__Content {
    position: absolute;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    outline: none;
    border-radius: 6px;
    background: $base-bg;
    padding: 20px;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
}

.modal-close {
    $modal-close-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -$modal-close-size/2;
    margin-right: -$modal-close-size/2;
    border: 2px solid $ui-border;
    border-radius: $modal-close-size/2;
    background-color: $active-dark-gray;
    cursor: pointer;
    width: $modal-close-size;
    height: $modal-close-size;
    text-align: center;
    line-height: $modal-close-size;
    color: $type-white;
    font-size: $modal-close-size;

    &:before {
        content: "x";
    }
}
