/* Copied from the un-styleable react-modal */

.ReactModal__Overlay {
    z-index: 100;
    background-color: rgba(0, 0, 0, .75);
}

.ReactModal__Content {
    position: absolute;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    outline: none;
    border-radius: 6px;
    background: #fff;
    padding: 20px;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
    .ReactModal__Content {
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        padding: 10px;
    }
}

.modal-close {
    $modal-close-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -$modal-close-size/2;
    margin-right: -$modal-close-size/2;
    border: 2px solid #ddd;
    border-radius: $modal-close-size/2;
    background-color: #666;
    cursor: pointer;
    width: $modal-close-size;
    height: $modal-close-size;
    text-align: center;
    line-height: $modal-close-size;
    color: #fff;
    font-size: $modal-close-size;

    &:before {
        content: "x";
    }
}
