@import "../../colors";

.ReactModal__Content {
    &:focus {
        outline: none;
    }

    iframe {
        border: 0;
    }
}

.modal-close {
    $modal-close-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -$modal-close-size / 2;
    margin-right: -$modal-close-size / 2;
    border: 2px solid $ui-border;
    border-radius: $modal-close-size / 2;
    background-color: $active-dark-gray;
    cursor: pointer;
    width: $modal-close-size;
    height: $modal-close-size;
    text-align: center;
    line-height: $modal-close-size;
    color: $type-white;
    font-size: $modal-close-size;

    &:before {
        content: "x";
    }
}
