@import "../../colors";

$navigation-height: 50px;

.banner-outer {
    display: flex;
    background-color: hsl(1deg 54.78% 44.17% / 15%);
    width: 100%;
    min-height: 4rem;
    overflow: hidden;
    color: black;
    font-size: .875rem;
    font-weight: bold;
    align-self: center;
    transition: all .2s ease;
}

.banner-outer.banner-danger {
    background-color: hsl(1deg 54.78% 44.17% / 15%);
    color: black;
    transition: all .2s ease;
}

.banner-outer.banner-success {
    background-color: hsl(144,45%,36%);
    color: white;
    transition: all .2s ease;
}

.banner-inner {
    padding-top: .325rem;
    padding-bottom: .325rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    transition: all .2s ease;
}

.banner-text {
    padding: .625rem 0;
    max-width: 50rem;
    line-height: 1.25rem;
    transition: all .2s ease;
}

.banner-button {
    border-radius: .25rem;
    background-color: #b94846;
    padding-top: .6875rem;
    padding-bottom: .75rem;
    min-width: 6rem;
    max-width: 16rem;
    min-height: 2.5rem;
    max-height: 6rem;
    font-size: .875rem;
    transition: all .2s ease;
}

.banner-danger .banner-button {
    background-color: hsl(1deg 54.78% 44.17% / 15%);
}
