@import "../../colors";

.extension-chip {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    padding: 10px;
    height: 48px;
    border-radius: 5px;
    background-color: $ui-blue-25percent;

    &.has-status {
        background-color: $ui-orange-25percent;
    }

    .extension-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-left: 5px;
    }
}