@import "../../colors";

.extension-chip {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    padding: .625rem;
    margin: 0 .625rem .625rem 0;
    height: 3rem;
    border-radius: 5px;
    background-color: $ui-blue-25percent;

    &.has-status {
        background-color: $ui-orange-25percent;
    }

    .extension-icon {
        width: 2rem;
        height: 2rem;
        margin-right: 5px;
    }

    .extension-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 0 5px;
        font-size: .875rem;
    }

    .extension-status{
        font-size: .675rem;
        text-align: center;
        color: white;
        border-radius: 10px;
        background-color: $ui-orange;
    }
}