@import "../../colors";

$navigation-height: 50px;

.share-banner-outer {
    background-color: $ui-orange-25percent;
    width: 100%;
    overflow: hidden;
    color: $ui-orange;
}

.share-banner {
    align-items: center;
    justify-content: space-between;
}

.share-button {
    background-color: $ui-orange;
    font-size: .875rem;
    font-weight: normal;

    &:before {
        display: inline-block;
        margin-right: .5rem;
        background-image: url("/svgs/project/share-white.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 1.25rem;
        height: 1.25rem;
        vertical-align: middle;
        content: "";
    }
}
