@import "../../colors";

$navigation-height: 50px;

.shareBanner {
    background-color: $ui-orange-25percent;
    width: 100%;
    overflow: hidden;
    color: $ui-orange;

    /* overwrite styles for flex row and preview row */
    .flex-row {
        flex-direction: row;
    }

    .preview-row {
        margin-top: 0 !important;
        padding: .5rem;
        align-items: center !important;
    }
}

.share-button {
    display: flex;
    background-color: $ui-orange;
    font-size: .875rem;
    font-weight: normal;
    flex-wrap: nowrap;
    align-items: center;

    &:before {
        display: inline-block;
        margin-right: .5rem;
        background-image: url("/svgs/project/share-white.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 1.25rem;
        height: 1.25rem;
        vertical-align: middle;
        content: "";
    }
}

.share-text {
    min-width: 0;
    flex-grow: 1;
}
