@import "../../../colors";
@import "../../../frameless";

.modal-mute {
    width: 30rem;

    .mute-modal-header {
        box-shadow: inset 0 -1px 0 0 $ui-mint-green;
        background-color: $ui-mint-green;
        border-radius: 1rem 1rem 0 0;
    }
    .mute-step {
        display: flex;
        padding: 36px 16px 28px 16px;
    }
    .mute-content {
        padding-top: 16px;
        justify-content: flex-start;
    }
    .mute-inner-content {
        padding: 0 32px;
    }
    .left-column {
        align-items: flex-start;
        padding-right: 32px;
    }
    .mute-header {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2rem;
    }
    .mute-bottom-row {
        padding-top: 12px;
    }
    .bottom-img {
        width: 380px;
    }
    .mute-side-image {
        margin-left: -49px;
    }
    .side-img {
        height: 212px;
        width: 129px;
    }
    .nav-divider {
        border-top: 1px solid $ui-blue-25percent;
    }
    .mute-nav {
        display:flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    .feedback-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        padding: 24px;

        button {
            margin: 0 4px;
        }

        .close-button {
            background-color: $ui-dark-gray;
        }
    }

    .back-button {
        margin-top: 0;
        margin-bottom: 0;
    }
    .next-button, .close-button {
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .feedback-text {
        text-align: center;
    }

    #feedback-form, textarea {
        height: 180px;
        width: 100%;
    }

    textarea {
        padding: 1rem;
    }

    .character-limit {
        font-size: .75rem;
    }

    .validation-message {
        top: 52px;
        left: 36px;
    }
}
