@import "../../colors";
@import "../../frameless";

.cn-banner {
    background-color: $ui-blue;
    background-image: url("/images/ppg-bg.jpg");

    &.title-banner {
        transition: none;
        margin-bottom: 20px;
        padding: 0;
        text-align: left;

        h1,
        p {
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: left;
        }
    }

    h1 {
        font-weight: 500;
    }

    p {
        font-weight: 300;
    }

    .cta,
    .flying {
        display: flex;
        height: 235px;
        justify-content: center;
    }

    .cta {
        margin-right: $cols1;
        width: $cols5;
        flex-direction: column;
    }

    .flying {
        margin: 0 $cols1;
        width: $cols4;
        flex-direction: row;
    }

    .button-row {
        display: flex;
        margin-top: $gutter;
        width: $cols5;
        align-content: stretch;

        a {
            margin-right: $gutter;
            flex-grow: 1;
        }

        .button {
            background-color: $ui-white;
            padding: 13px 20px;
            width: 100%;
            color: $ui-blue;
            font-size: .9rem;
        }
    }
}
