@import "../../colors";
@import "../../frameless";

$radius: 8px;

.studio-page {
    background-color: #E9F1FC;

    #view {
        /* Reset some defaults on width and margin */
        background-color: transparent;
        max-width: 1240px;
        min-width: auto;
        margin: 50px auto;
        display: block;
        padding-top: 40px;

        &.mod-view-admin-panel-open {
            min-width: unset;
            width: calc(100% - 250px);
            margin: 50px 0px 50px 250px;
        }

        /* WAT Why does everything center at smaller widths??!! */
        @media #{$intermediate-and-smaller} {
            & {
                text-align: unset !important;
            }
        }

        .studio-shell {
            padding: 0 20px;
            display: grid;
            gap: 40px;

            /* Side-by-side with fixed width sidebar */
            grid-template-columns: 300px minmax(0, 1fr);

            /* Stack vertically at medium size and smaller */
            @media #{$medium-and-smaller} {
                & {
                    grid-template-columns: minmax(0, 1fr);
                }
            }
        }
    }
}

.studio-info {
    justify-self: center;
    width: 300px;
    height: max-content;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;

    .studio-info-section {
        position: relative;
        .validation-message {
            margin-top: .5rem;
            box-sizing: border-box;
        }
    }
    .studio-title {
        font-size: 28px;
        font-weight: 700;
    }

    .studio-description {
        background: $ui-blue-10percent;
        padding: 15px 20px;
        border-color: transparent;
        border-radius: $radius;
        word-wrap: break-word;
        white-space: pre-wrap;
        width: 300px;
        box-sizing: border-box;
        height: 24rem;
        overflow-y: scroll;

        &.muted-editor {
            @media #{$intermediate-and-smaller} {
                height: 18rem;
            }
        }
    }

    /* Overrides for when title and description are editable textareas */
    textarea.studio-title, textarea.studio-description {
        background: transparent;
        padding: 5px 8px;
        border: 2px dashed $ui-blue-25percent;
        border-radius: $radius;
        resize: none;
        width: 300px;
        box-sizing: border-box;
    }

    .studio-image {
        width: 300px;
        height: 225px;
        object-fit: cover;
        border-radius: 8px;
    }

    .studio-follow-button {
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 14px;
        margin: 0;
    }
}

.studio-tab-nav {
    border-bottom: 1px solid $active-dark-gray;
    padding-bottom: 8px;
    font-size: 14px;
    li { background: rgba(0, 0, 0, 0.15); }
    .active > li { background: $ui-blue; }
}

.studio-projects {}
.studio-projects-grid {
    margin-top: 20px;
    display: grid;

    grid-template-columns: repeat(3, minmax(0,1fr));
    @media #{$medium-and-intermediate} {
        & { grid-template-columns: repeat(2, minmax(0,1fr)); }
    }
    @media #{$small} {
        & { grid-template-columns: repeat(1, minmax(0,1fr)); }
    }
    column-gap: 30px;
    row-gap: 20px;

    .studio-projects-load-more {
        grid-column: 1 / -1;
    }
}

.studio-project-tile {
    background: white;
    border-radius: 8px;
    border: 1px solid $ui-border;
    position: relative;
    margin: 0;
    padding: 0;

    .studio-project-image {
        max-width: 100%;
        background: #a0c6fc;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }
    .studio-project-bottom {
        display: flex;
        padding: 6px 4px 6px 10px;
        justify-content: space-between;
    }
    .studio-project-avatar {
        width: 42px;
        height: 42px;
        border-radius: 4px;
        object-fit: cover;
    }
    .studio-project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;
        margin: 0 8px;
        flex-grow: 1; /* Grow to fill available space */
        min-width: 0; /* Prevents within from expanding beyond bounds */
    }
    .studio-project-title {
        color: #4C97FF;
        font-weight: 700;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .studio-project-username {
        color: #575E75;
        font-weight: 700;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .studio-project-remove {
        color: $ui-blue;
        background: transparent;
        border: none;
    }
}

.studio-members {}
.studio-members-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    @media #{$medium-and-intermediate} {
        & { grid-template-columns: repeat(2, minmax(0,1fr)); }
    }
    @media #{$small} {
        & { grid-template-columns: repeat(1, minmax(0,1fr)); }
    }
    column-gap: 30px;
    row-gap: 20px;
    .studio-members-load-more {
        grid-column: 1 / -1;
    }
}

.studio-member-tile {
    background: white;
    border-radius: 8px;
    border: 1px solid $ui-border;

    display: flex;
    padding: 10px 6px 10px 12px;
    justify-content: space-between;

    .studio-member-image {
        width: 42px;
        height: 42px;
        border-radius: 4px;
        object-fit: cover;
    }
    .studio-member-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;
        margin: 0 8px;
        flex-grow: 1; /* Grow to fill available space */
        min-width: 0; /* Prevents within from expanding beyond bounds */
    }
    .studio-member-name {
        color: #4C97FF;
        font-weight: 700;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .studio-member-role {
        color: #575E75;
        font-weight: 400;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .studio-member-remove, .studio-member-promote {
        color: $ui-blue;
        background: transparent;
        border: none;
    }
}

.studio-members + .studio-members {
    margin-top: 40px;
}

.studio-adder-section {
    margin-top: 20px;

    h3 {
        color: #4C97FF;
    }

    .studio-adder-row {
        display: flex;
        flex-wrap: wrap-reverse; /* so error goes below at small sizes */

        .studio-adder-error {
            position: relative;

            .validation-message {
                transform: none;
                width: 200px;
            }
            @media #{$intermediate-and-smaller} {
                & {
                    width: 100%;
                    margin-top: .5rem;
                    .validation-message {
                        max-width: 100%;
                        width: 100%;
                        box-sizing: border-box;
                    }
                }
            }
        }

        input {
            flex-grow: 1;
            display: inline-block;
            border: 1px solid $ui-border;
            border-radius: .5rem;
            padding: 1em 1.25em;
            font-size: .8rem;
            margin-inline-end: 6px;
        }

        button {
            flex-grow: 0;
            margin: 0;
        }

        .studio-adder-vertical-divider {
            margin: 0 6px;
            border: 1px solid $ui-border;
            align-self: stretch;
        }
    }
}

.studio-activity {
    .studio-messages-list {
        border: 1px solid $ui-border;
        border-bottom-width: 0;
        border-radius: 5px;
        background-color: $ui-white;
        padding-left: 0px;
    }
    .studio-activity-icon {
        opacity: 1;
    }
    /* Ensure that line breaks occur only the message text, not in the flex layout or date */
    .social-message-date {
        white-space: nowrap;
    }
    .flex-row.mod-social-message {
        flex-wrap: nowrap;
    }
}

.studio-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;

    h2 {
        font-size: 28px;
    }
}

.studio-compose-container {
    padding-top: 8px;
}

.studio-empty {
    grid-column: 1 / -1; /* take up all columns */
    text-align: center;

    .studio-empty-img {
        margin-top: 45px;
        margin-bottom: 25px;
    }

    .studio-empty-msg {
        font-size: 20px;
        line-height: 30px;
        font-style: italic;
    }
}

.studio-admin-panel {
    margin-top: 51px;
    border: 0;
    padding: .5rem;
    overflow: hidden;
}

.studio-admin-panel.admin-panel-open {
    padding: 0;
    width: 250px;
}

.admin-iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    border: 0;
    width: 250px;
    height: 100%;
}

/* Modification classes for different interaction states */
.mod-fetching { /* When a field has no content to display yet */
    position: relative;
    min-height: 30px;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #a0c6fc;
        border-radius: $radius;
    }
    /* For elements that can't use :after, force reset some internals
    to get the same visual (e.g. for textareas)*/
    border-radius: $radius;
    background: #a0c6fc !important;
    color: #a0c6fc !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.mod-mutating { /* When a field has sent a change to the server */
    cursor: wait !important;
    opacity: .5;
}

.mod-clickable {
    cursor: pointer;
}

.mod-form-error { /* When a field contains a value is causing an error */
    border-color: $ui-orange !important;
}

.studio-curator-mute-box {
    margin: 20px 0;
}