@import "../../../colors";
@import "../../../frameless";

.title-banner.mod-splash-top {
    background-color: $ui-aqua;
    background-image: url("/images/hoc/splash-left.png"), url("/images/hoc/splash-right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    background-size: 40% auto, 40% auto;
}

.banner-top {
    background-image: url("/images/hoc/doodads.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 70%;
    flex-direction: column;
}

.top-banner-header {
    justify-content: space-between;
}

.top-banner-header-h1 {
    margin-bottom: 1.25rem;
    color: $type-white;
}

.banner-image.mod-top {
    width: 100%;
}

.top-animation {
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 70%;
}

.top-animation-letter {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    width: 100%;
}

@keyframes jump {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    12.5%,
    62.5% {
        transform: translate3d(0, 10px, 0);
    }

    37.5%,
    87.5% {
        transform: translate3d(0, -10px, 0);
    }
}

.mod-letter-s {
    // width: 16.6%;
    animation-name: jump;
    width: 13.3%;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.25, 1.25, 1.25);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.mod-letter-c1 {
    // width: 12.5%;
    animation-name: pulse;
    width: 10%;
}

@keyframes spin-left {
    90% {
        transform: rotate3d(0, 0, 1, -360deg);
    }

    to {
        transform: rotate3d(0, 0, 1, -360deg);
    }
}

.mod-letter-r {
    // width: 14%;
    animation-name: spin-left;
    width: 11.2%;
}

@keyframes swing {
    25% {
        transform: rotate3d(0, 0, 1, 40deg);
    }

    75% {
        transform: rotate3d(0, 0, 1, -40deg);
    }

    from,
    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.mod-letter-a {
    // width: 14.4%;
    animation-name: swing;
    width: 11.5%;
}

@keyframes shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    12.5%,
    62.5% {
        transform: translate3d(-10px, 0, 0);
    }

    37.5%,
    87.5% {
        transform: translate3d(10px, 0, 0);
    }
}

.mod-letter-t {
    // width: 15.5%;
    animation-name: shake;
    width: 12.4%;
}

@keyframes spin-right {
    90% {
        transform: rotate3d(0, 0, 1, 360deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.mod-letter-c2 {
    // width: 12.5%;
    animation-name: spin-right;
    width: 10%;
}

@keyframes inverse-jump {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    12.5%,
    62.5% {
        transform: translate3d(0, -10px, 0);
    }

    37.5%,
    87.5% {
        transform: translate3d(0, 10px, 0);
    }
}

.mod-letter-h {
    // width: 14.4%;
    animation-name: inverse-jump;
    width: 11.5%;
}

.mod-top-button {
    &:active &:hover,
    &:link,
    &:visited {
        color: $type-white;
        font-size: 1rem;
    }
}

.mod-top-button {
    border: 1px solid $active-gray;
    box-shadow: none;
    background-color: $ui-blue;
}

.top-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mod-guides-link {
    cursor: pointer;
    padding: 1.25rem 0;
    color: $ui-white;
    font-size: 1rem;
    font-weight: 500;
}

.top-open-modal {
    display: inline-block;
    padding: 0 .25rem;
    vertical-align: top;
}
@media only screen and (max-width: $tablet - 1) {
    .flex-row.top-animation {
        flex-direction: row;
    }
}
