.carousel {
    $icon-size: 40px;
    $button-offset: $icon-size + 5px;

    padding: 0 $button-offset;

    .slick-next, .slick-prev {
        width: $icon-size;
        height: $icon-size;
        margin-top: -$icon-size/2;
        
        &:before {
            font-size: $icon-size;
            color: #ddd;
        }

        &.slick-disabled:before{
            opacity: 1;
        }
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .slick-slide {
        padding-right: 30px;
    }
}