#view {
    padding: 0;
}

.preview-faq {
    margin-bottom: 5rem;
}

.title-banner-h1 {
    line-height: 1.7em !important;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif !important;
    font-size: 2.5rem !important;
    font-weight: 900 !important;
}

.preview-faq li {
    margin: 0 2rem !important;
}
