#view {
    .masthead {
        display: flex;
        flex-wrap: no-wrap;
        justify-content: space-between;
        align-items: stretch;

        div {
            display: inline-block;
            width: calc(50% - 10px);

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            li {
                display: inline-block;
                text-transform: uppercase;

                &:nth-child(odd) {
                    margin-right: 10px;
                    padding-right: 10px;
                    border-right: 1px solid $ui-gray;
                }
            }

            iframe {
                width: 460px;
                height: 290px;
                border: 1px solid $ui-gray;
            }
        }
    }

    .body {
        position: relative;
        width: calc(100% - 80px);
        margin: 20px 0 0 0;
        padding: 26px 40px 6px 40px;

        border: 1px solid $ui-gray;
        border-radius: 10px;
        background: $ui-white;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            width: calc(384px + 5px + 5px);
            margin-bottom: 20px;
        }

        img, iframe {
            display: block;
            width: 396px;
            height: 222px;
            padding: 5px;
            border: 1px solid $ui-gray;
        }
    }
}
