@import "../../colors";

.about {
    .masthead {
        display: flex;
        flex-wrap: no-wrap;
        justify-content: space-between;
        align-items: stretch;

        div {
            display: inline-block;
            width: calc(50% - 10px);
            min-width: calc(50% - 10px);

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            li {
                display: inline-block;
                text-transform: uppercase;

                &:nth-child(odd) {
                    margin-right: 10px;
                    border-right: 1px solid $ui-gray;
                    padding-right: 10px;
                }
            }
        }

        div.video-container,
        div.about-scratch-video {
            height: 225px;
            width: 400px;
            min-width: 400px;
        }
    }

    .body {
        position: relative;
        margin: 20px 0 0;
        border: 1px solid $ui-gray;
        border-radius: 10px;
        background: $ui-white;
        padding: 26px 40px 6px;
        width: calc(100% - 80px);

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        li {
            display: inline-block;
            margin-bottom: 20px;
            width: calc(384px + 5px + 5px);
        }

        img,
        iframe {
            display: block;
            border: 1px solid $ui-gray;
            padding: 5px;
            width: 396px;
            height: 222px;
        }
    }
}
