@import "../../../../colors";
@import "../../../../frameless";

.title-banner.mod-conference.mod-2017 {
    padding-top: 0;
}

.title-banner-image.mod-2017 {
    opacity: .75;
    margin-bottom: 1.75rem;
    background-image: url("/images/conference/index/2017/title-banner.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 20rem;
}

.conf2017-panel,
.title-banner-h3.mod-2017 {
    margin: auto;
    width: 48.75rem;
}

.title-banner-h3.mod-2017 {
    text-align: left;
    color: $type-white;
}

.conf2017-title-band {
    background-color: $ui-blue-dark;
    padding: 1.5rem;
    text-align: center;
    color: $type-white;
}

.conf2017-panel {
    border-bottom: 1px solid $ui-border;
}

.conf2017-panel.mod-last {
    border-bottom: 0;
}

.flex-row.conf2017-panel-title {
    justify-content: flex-start;
    align-items: center;
}

.conf2017-panel-flag {
    margin-right: 6.25rem;
    border: 1px solid $ui-border;
    border-radius: 1px;
    background-color: $ui-border;
    width: 3.75rem;
}

.conf2017-panel-desc {
    margin: 2rem 0;
}

td {
    padding: .75rem 1.25rem;
    vertical-align: top;
}

.conf2017-panel-row-icon-image {
    margin-top: .125rem;
    width: 1rem;
    height: 1rem;
}

.button.mod-2017-panel {
    display: block;
    margin: 2rem auto 0;
    background-color: $ui-orange;
    padding: 1rem 0;
    width: 13.75rem;
    text-align: center;
    color: $type-white;
}

@media #{$small} {
    .index.mod-2017 {
        text-align: left;
    }

    .title-banner-image.mod-2017 {
        height: 10rem;
    }

    .title-banner-h1.mod-2017 {
        line-height: 1.25em;
    }

    .conf2017-panel,
    .title-banner-h3.mod-2017 {
        width: initial;
    }

    .conf2017-panel {
        margin: auto .5rem;
    }

    .title-banner-h3.mod-2017 {
        margin: 1rem .5rem .5rem;
        font-size: 1.1rem;
    }

    .flex-row.conf2017-panel-title {
        flex-direction: row;
    }

    .conf2017-panel-flag {
        margin-right: 1.25rem;
    }

    .conf2017-panel-title-text {
        max-width: 14rem;
    }

    .conf2017-panel-row > td {
        padding: .75rem .375rem .75rem 0;
    }
}

@media #{$medium} {
    .index.mod-2017 {
        text-align: left;
    }

    .title-banner-image.mod-2017 {
        height: 10rem;
    }

    .conf2017-panel,
    .title-banner-h3.mod-2017 {
        margin: auto .5rem ;
        width: initial;
    }

    .title-banner-h3.mod-2017 {
        font-size: 1.1rem;
    }

    .flex-row.conf2017-panel-title {
        flex-direction: row;
    }

    .conf2017-panel-flag {
        margin-right: 5rem;
    }

    .conf2017-panel-title-text {
        max-width: 18.75rem;
    }

    .button.mod-2017-panel {
        width: 5.75rem;
    }
}

@media #{$intermediate} {
    .index.mod-2017 {
        text-align: left;
    }

    .title-banner-image.mod-2017 {
        height: 15rem;
    }

    .conf2017-panel,
    .title-banner-h3.mod-2017 {
        margin: auto;
        width: 38.75rem;
    }

    .title-banner-h3.mod-2017 {
        font-size: 1.1rem;
    }

    .button.mod-2017-panel {
        width: 8.75rem;
    }
}
