@import "../../colors";
@import "../../frameless";

#view {
    padding: 0;
}
$faq-splash: darken($ui-blue, 10%);

.faq {
    /* HACK: is this terrible and too specific */
    #container {
        margin: 0 auto;
    }

    nav {
        width: 30%;
        float: right;
        border-left: 1px solid $ui-border;

        ol {
            list-style: none;
        }
    }

    .main {
        width: 60%;
        float: left;
    }
    /* end potentially hacky solution */

    .title-banner {
        &.masthead {
            background-color: $faq-splash;
            padding-bottom: 0.5rem;

            h1 {
                margin: 0 0 1rem 0;
                text-align: left;
                color: $ui-white;
            }

            p {
                margin: 0;
                width: $cols6;
                text-align: left;
                color: $ui-white;

                a {
                    border-bottom: 1px solid $ui-white;
                    color: $ui-white;
                }
            }
        }

        &.faq-banner {
            margin-bottom: 0;
            background-color: $ui-gray;
        }
    }


    .flex-row {
        &.sidebar-row {
            margin: 2rem 0;
            justify-content: space-between;
            align-items: flex-start;

            .body-copy {
                width: $cols8;
            }

            .sidebar {
                width: $cols3;
            }
        }

        &.three-col-row {
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;

            .column {
                $column-margin: 1rem;

                margin: $column-margin;
                width: calc(#{$cols4} - (#{$column-margin} * 2));

                dd {
                    text-align: left;
                }
            }
        }
    }

    section {
        margin-bottom: 3rem;

        dd {
            max-width: $cols8;
            text-align: left;
        }

        ul {
            max-width: $cols8;
        }

        dt {
            font-size: 1.1rem;
        }

    }

    #about-scratch,
    #privacy,
    #accounts,
    #permissions,
    #remix,
    #inappropriate-content,
    #clouddata {
        .nav-spacer {
            display: block;
            visibility: hidden;
            margin-top: -50px; // height of  nav bar
            height: 50px;
        }
    }

    #about-scratch,
    #privacy,
    #accounts,
    #permissions,
    #remix,
    #inappropriate-content,
    #clouddata {

        h3 {
            border-bottom: 1px solid $ui-border;
        }

        dl {
            dt {
                margin-bottom: .25rem;
            }

            dd {
                margin-bottom: 1.25rem;
                margin-left: 0;
            }
        }
    }

}

//4 columns
@media only screen and (max-width: $mobile - 1) {
    #view {
        text-align: left;
    }

    .title-banner {
        &.masthead {
            padding-bottom: 2rem;
        }

        .band {
            display: none;
        }
    }

    .flex-row {
        &.sidebar-row {

            .body-copy {
                width: 100%;
            }
        }
    }
}

//6 columns
@media only screen and (min-width: $mobile) and (max-width: $tablet - 1) {
    #view {
        text-align: left;
    }

    .flex-row {
        &.sidebar-row {

            .body-copy {
                width: 100%;
            }

            .sidebar {
                margin: 0 auto;
            }
        }
    }
}

//8 columns
@media only screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    #view {
        text-align: left;
    }

    .flex-row {
        &.sidebar-row {

            .body-copy {
                width: 100%;
            }

            .sidebar {
                margin: 0 auto;
            }
        }
    }

    section {
        dd {
            width: 100%;
        }
    }
}


nav {
    width: 100%;
}
