@import "../../colors";
@import "../../frameless";

#view {
    padding: 0;
}
$ui-secondary: darken($ui-blue, 10%);

.faq {
    .title-banner {
        &.masthead {
            background-color: $ui-secondary;
            padding-bottom: .5rem;

            h1 {
                margin: 0 0 1rem 0;
                text-align: left;
                color: $ui-white;
            }

            p {
                margin: 0;
                width: $cols6;
                text-align: left;
                color: $ui-white;

                a {
                    border-bottom: 1px solid $ui-white;
                    color: $ui-white;
                }
            }
        }

        &.faq-banner {
            margin-bottom: 0;
            background-color: $ui-gray;
        }
    }

    p {
        margin-bottom: 1.25rem;
        margin-left: 0;
        max-width: $cols8;
        text-align: left;
    }

    dl {
        dt {
            margin-bottom: .25rem;
            font-size: 1.1rem;
        }

        dd {
            margin-bottom: 1.25rem;
            margin-left: 0;
            max-width: $cols8;
            text-align: left;
        }
    }

    ul {
        max-width: $cols8;
    }

    section {
        margin-bottom: 3rem;

        ul {
            max-width: $cols8;
        }

        .nav-spacer {
            display: block;
            visibility: hidden;
            margin-top: -50px; // height of  nav bar
            height: 50px;
        }

    }

}

//4 columns
@media only screen and (max-width: $mobile - 1) {
    #view {
        text-align: left;
    }

    .title-banner {
        &.masthead {
            padding-bottom: 2rem;
        }

        .band {
            display: none;
        }
    }
}

//6 columns
@media only screen and (min-width: $mobile) and (max-width: $tablet - 1) {
    #view {
        text-align: left;
    }
}

//8 columns
@media only screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    #view {
        text-align: left;
    }

    section {
        dd {
            width: 100%;
        }
    }
}
