@import "../../colors";
@import "../../frameless";

.microbit {
    .extension-header {
        background-color: $ui-mint-green;
        background-image: url("/images/microbit/mbit-pattern.svg");

        .extension-info {
            padding-right: $cols1;
            max-width: $cols7 + ($gutter / $em);
        }

        .extension-image {
            max-width: $cols4;
        }
    }

    .things-to-try {
        .display-hello {
            .step-image {
                align-self: center;
            }
        }
    }
}
