.intro {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;

    .content {
        display: inline-block;
        width: calc(66% - 20px);

        h1 {
            color: #f9a739;
            font-weight: 400;
        }
    }

    .sprites {
        position: relative;
        clear: both;
        overflow: hidden;

        &:after {
            display: block;
            clear: both;
            visibility: hidden;
            height: 0;
            content: " ";
        }
    }

    .sprite {
        position: relative;
        float: left;
        width: 193px;
        height: 136px;
        overflow: hidden;

        .costume,
        .circle,
        .text {
            position: absolute;
        }

        .costume {
            left: 0;
            z-index: 2;
        }

        .costume-2 {
            display: none;
        }

        &:hover .costume-1 {
            display: none;
        }

        &:hover .costume-2 {
            display: block;
        }

        .circle {
            display: block;
            top: 15px;
            left: 43px;
            z-index: 0;
            border-radius: 50%;
            box-shadow: 0 0 5px #fff;
            width: 112px;
            height: 112px;
        }

        .text {
            $text-bg-color: #f1f3f4;
            left: 35px;
            z-index: 1;
            border: 2px solid $text-bg-color;
            background-color: $text-bg-color;
            padding-right: 10px;
            padding-left: 40px;
            white-space: nowrap;
            font-size: 12px;
            font-weight: 700;
        }

        .subtext {
            border: 0;
            background-color: transparent;
            text-shadow: 0;
            font-size: 12px;
            font-weight: 400;
        }

        $sprite-1-bgcolor: #9c0;
        $sprite-2-bgcolor: #c2479d;
        $sprite-3-bgcolor: #199ed7;

        &.sprite-1 .circle {
            background-color: $sprite-1-bgcolor;
        }

        &.sprite-2 .circle {
            background-color: $sprite-2-bgcolor;
        }

        &.sprite-3 .circle {
            background-color: $sprite-3-bgcolor;
        }

        &:hover.sprite-1 .circle {
            box-shadow: 0 0 10px 2px $sprite-1-bgcolor;
        }

        &:hover.sprite-2 .circle {
            box-shadow: 0 0 10px 2px $sprite-2-bgcolor;
        }

        &:hover.sprite-3 .circle {
            box-shadow: 0 0 10px 2px $sprite-3-bgcolor;
        }

        &.sprite-1 .text {
            top: 60px;
            left: 50px;
            color: $sprite-1-bgcolor;
        }

        &.sprite-2 .text {
            top: 77px;
            left: 50px;
            color: $sprite-2-bgcolor;
        }

        &.sprite-3 .text {
            top: 37px;
            left: 45px;
            color: $sprite-3-bgcolor;
        }

        &.sprite-3 .subtext {
            top: 63px;
            left: 60px;
            color: #fff;
        }
    }

    .description {
        margin-top: 10px;
        font-size: 17px;
    }

    .project-count {
        color: hsl(318, 50%, 52%);
        font-size: 18px;
        font-weight: 700;
    }

    .links {
        margin-top: 20px;
        font-size: 12px;

        a {
            border-right: 1px solid #000;
            padding: 0 5px;

            &:last-child { border-right: 0; }

            &:first-child { padding-left: 0; }
        }
    }

    .video {
        display: inline-block;
        position: relative;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 3px;
        background-color: #f7f7f7;
        padding: 10px;
        width: 34%;
        height: 208px;
        text-align: center;
    }

    .play-button {
        display: block;
        top: calc(50% - 25px);
        left: calc(50% - 35px);
        opacity: .8;
        border: 5px solid #ccc;
        border-radius: 20px;
        background-color: #666;
        width: 70px;
        height: 50px;

        &,
        &:after {
            position: absolute;
            margin: 0;
            cursor: pointer;
            padding: 0;
        }

        &:after {
            top: 37px;
            left: 28px;
            margin-top: -30px;
            border: solid transparent;
            border-width: 18px;
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #fff;
            width: 0;
            height: 0;
            content: " ";
            pointer-events: none;
        }
    }
}

.video-modal {
    $video-width: 570px;
    $video-height: 357px;
    $padding: 15px;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    margin-top: -($video-height + $padding * 2)/2;
    margin-left: -($video-width + $padding * 2)/2;
    padding: $padding;
    width: $video-width;
    height: $video-height;

    iframe {
        border: 0;
        width: $video-width;
        height: $video-height;
    }
}
