@import "../../colors";

.intro {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;

    h1 {
        line-height: 2.125rem;
        color: $ui-orange;
        font-size: 1.625rem;
        font-weight: 400;
    }

    .content {
        display: inline-block;
        width: calc(66% - 30px);
        vertical-align: top;
    }

    .sprites {
        position: relative;
        clear: both;
        margin: 20px 0;
        overflow: hidden;

        &:after {
            display: block;
            clear: both;
            visibility: hidden;
            height: 0;
            content: " ";
        }
    }

    .sprite {
        position: relative;
        float: left;
        width: 193px;
        height: 136px;
        overflow: hidden;

        .costume,
        .circle,
        .text {
            position: absolute;
        }

        .costume {
            left: 0;
            z-index: 2;
        }

        .costume-2 {
            display: none;
        }

        .circle {
            display: block;
            top: 15px;
            left: 43px;
            z-index: 0;
            border-radius: 50%;
            box-shadow: 0 0 5px $ui-white;
            width: 112px;
            height: 112px;
        }

        .text {
            $text-bg-color: $background-color;
            left: 35px;
            z-index: 1;
            border: 2px solid $text-bg-color;
            background-color: $text-bg-color;
            padding-right: 10px;
            padding-left: 40px;
            white-space: nowrap;
            font-size: 12px;
            font-weight: 700;
        }

        .subtext {
            border: 0;
            background-color: transparent;
            text-shadow: 0;
            font-size: 12px;
            font-weight: 400;
        }


        &.sprite-1 {
            .circle {
                background-color: $ui-aqua;
            }

            .text {
                top: 60px;
                left: 50px;
                color: $ui-aqua;
            }
        }

        &.sprite-2 {
            .circle {
                background-color: $ui-purple;
            }

            .text {
                top: 77px;
                left: 50px;
                color: $ui-purple;
            }
        }

        &.sprite-3 {
            .circle {
                background-color: $ui-blue;
            }

            .text {
                top: 37px;
                left: 45px;
                color: $ui-blue;
            }

            .subtext {
                top: 63px;
                left: 60px;
                color: $ui-white;
            }
        }

        &:hover {
            .costume-1 {
                display: none;
            }

            .costume-2 {
                display: block;
            }

            &.sprite-1 {
                .circle {
                    box-shadow: 0 0 10px 2px $ui-aqua;
                }
            }

            &.sprite-2 {
                .circle {
                    box-shadow: 0 0 10px 2px $ui-purple;
                }
            }

            &.sprite-3 {
                .circle {
                    box-shadow: 0 0 10px 2px $ui-blue;
                }
            }
        }
    }

    .description {
        margin-top: 10px;
        font-size: 17px;
    }

    .project-count {
        $project-count-color: hsl(318, 50%, 52%); 
        color: $project-count-color;
        font-size: 18px;
        font-weight: 700;
    }

    .links {
        margin-top: 20px;
        letter-spacing: .5px;
        font-size: 12px; 

        a {
            border-right: 1px solid $type-gray;
            padding: 0 5px;

            &:last-child { border-right: 0; }

            &:first-child { padding-left: 0; }
        }
    }

    .video {
        display: inline-block;
        position: relative;
        border: 1px solid $ui-border;
        border-radius: 10px;
        background-color: $ui-white;
        padding: 14px 10px;
        width: 34%;
        height: 208px;
        text-align: center;

        img {
            border-radius: 5px;
        }
    }

    .play-button {
        display: block;
        top: calc(50% - 25px);
        left: calc(50% - 35px);
        opacity: .8;
        border: 5px solid $ui-border;
        border-radius: 20px;
        background-color: $type-gray;
        width: 70px;
        height: 50px;

        &,
        &:after {
            position: absolute;
            margin: 0;
            cursor: pointer;
            padding: 0;
        }

        &:after {
            $play-arrow: rgba(255, 255, 255, 0);
            top: 37px;
            left: 28px;
            margin-top: -30px;
            border: solid transparent;
            border-width: 18px;
            border-color: $play-arrow;
            border-left-color: $ui-white;
            width: 0;
            height: 0;
            content: " ";
            pointer-events: none;
        }
    }
}

.modal-content.mod-intro-video {
    padding: 15px;
    width: 35.625rem;
}

.modal-content-iframe.mod-intro-video {
    width: 35.625rem;
    min-height: 22.3125rem;
}
