@import "../../colors";
@import "../../frameless";

$base-bg: $ui-white;

#view {
    background-color: $ui-white;
    padding: 0;
}

.banner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;
    background-color: $ui-aqua;

    .ideas-project {
        border: none;
        border-radius: 8px;
    }

    .banner-description {
        display: flex;
        flex-direction: column;
        text-align: start;
        max-width: 27rem;

        .title {
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.5rem;
            color: $ui-white;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: $ui-white;

            a {
                font-weight: 700;
                text-decoration: underline;
                color: $ui-purple-light;
            }
        }
    }
}

.tips {
    .inner {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .tips-section {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax($cols3, auto));
            justify-content: space-around;
            align-items: center;
            
            .tip {
                display: flex;
                flex-direction: column;
    
                .tips-img {
                    width: $cols3;
                    height: 10rem;
                }
            }
        }
    }
}

.youtube-videos {
    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .section-header {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2.5rem;
            padding: 4rem 0;

            div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                max-width: 25rem;

                .section-title {
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 2.5rem;
                    text-align: start;
                }
    
                .section-description {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                    text-align: start;

                    a {
                        font-weight: 400;
                        text-decoration: underline;
                    }
                }
            }
        }

        .playlists {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            margin-bottom: 3rem;
        }

        .download-cards {
            display: flex;
            align-items: center;
            gap: 1rem;

            margin-bottom: 3.5rem;

            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2rem;
                height: 2rem;
            }

            span {
                font-size: 1rem;
                line-height: 1.5rem;
                text-align: start;

                a {
                    font-weight: 400;
                    text-decoration: underline;
                }
            }
        }
    }
}

.physical-ideas {
    .inner {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .physical-ideas-section {
            justify-content: space-between;
            align-items: flex-start;
            gap: 5.5rem;

            .physical-idea {
                display: flex;
                gap: 1.5rem;
                text-align: start;

                .makey-makey-img {
                    height: 6.5rem;
                }

                .micro-bit {
                    height: 8.5rem;
                }

                .physical-idea-description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;

                    h3 {
                        font-size: 1.3rem;
                    }
                    
                    p {
                        margin: 0;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5rem;
                    }
        
                    .tips-button {
                        width: auto;
                        padding: 0.75rem;
                    }
                }
            }

            .physical-idea:first-child {
                flex: 1.5;
            }

            .physical-idea:last-child {
                flex: 2;
            }
        }
    }
}

.tips, .physical-ideas {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    background-color: $gray-50;
}

.gray-area {
    background-color: $ui-gray;

    .tips-info-section {
        padding: 2.5rem 0;
        width: 100%;
        flex-wrap: nowrap;

        .tips-info-body {
            text-align: left;
        }
    }

    img.tips-icon {
        height: 1.75rem;
    }
}

.tips, .physical-ideas {
    .section-header {
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
        text-align: start;
    }
}

.tips-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
    font-weight: 700;
    line-height: 1.25rem;

    width: 100%;
    padding: 0.5rem 0;

    border-radius: 4px;
}

//4 columns
@media #{$small} {
    .banner-wrapper {
        .ideas-project {
            display: none;
        }
    }
    
    .tips-info-body {
        max-width: $cols4;
        text-align: center;

        .button {
            width: 100%;
        }
    }
}

//6 columns
@media #{$medium} {
    .tips-info-body {
        max-width: $cols4;
        text-align: center;
    }
}

//8 columns
@media #{$intermediate} {
    .tips-info-body {
        max-width: $cols4;
    }
}

@media #{$intermediate-and-smaller}{
    .physical-ideas {
        .inner {
            .physical-ideas-section {
                .physical-idea:first-child {
                    flex: 2;
                }
            }
        }
    }
}

// 12 columns
@media #{$big} {
    .tips-info-section {
        &.mod-align-top {
            align-items: flex-start;
        }
    }

    .tips-info-body {
        max-width: $cols6;
        &.mod-narrow {
            max-width: $cols5;
        }
    }
}
