@import "../../../colors";
@import "../../../frameless";

.title-banner {
    transition: background-image .5s ease, background-color .5s ease;
    margin-bottom: 40px;
    background-color: $ui-aqua;
    background-position: center;
    background-size: cover;
    padding: 20px 0;
    width: 100%;

    h1, 
    p {
        margin: 0 auto;
        padding: 5px 0;
        text-align: center;
        color: $type-white;        
    }

    p {
        max-width: 500px;
    }
}
