#footer {
    display: block;
    padding: 10px 0;
    color: #666;
    background-color: #ececec;

    .lists {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;

        dl {
            display: inline-block;
            width: 130pt;
            font-size: 0.85rem;
            text-align: left;
            vertical-align: top;
        }

        dt {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        dd {
            display: block;
            margin: 5px 0;
        }
    }
    
    .copyright {
        display: block;
        width: 100%;
        text-align: center;

        p {
            font-size: 0.7rem;
        }
    }
}
