@use "../../../colors";
@use "../../../frameless";

.account-nav {
    .user-info {
        display: inline-flex;
        padding: 10px 15px 4px 15px;
        max-width: 260px;
        height: 33px;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: colors.$type-white;
        font-size: .8125rem;
        font-weight: normal;
        align-items: center;

        .avatar {
            border-radius: 3px;
            vertical-align: middle;
        }

        .avatar-wrapper {
            margin-right: 10px;
            
            --avatar-size: 24px;
            --frame-size: 7px;
        }

        &:hover {
            background-color: colors.$active-gray;
        }

        &.open {
            background-color: colors.$active-gray;
        }

        &:after {
            display: inline-block;
            margin-left: 8px;

            background-image: url("/images/dropdown.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50%;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            content: " ";
        }
    }

    .dropdown {
        top: 50px;
        padding: 0;
        padding-top: 5px;
        width: 100%;
        box-sizing: border-box;
    }
}

//4 columns
@media #{frameless.$small} {
    .account-nav {
        margin-left: 0;

        .user-info {
            .avatar {
                margin-right: 0;
            }

            &:after {
                display: none;
            }
        }
    }
}


//6 columns
@media #{frameless.$medium} {
    .account-nav {
        margin-left: 0;

        .user-info {
            .avatar {
                margin-right: 0;
            }

            &:after {
                display: none;
            }
        }
    }
}

//8 columns
@media #{frameless.$intermediate} {
    .account-nav {
        margin-left: 0;
    }
}
