@import "../../colors";
@import "../../frameless";

.join-flow-outer-content {
    /* hopefully this lets text expand the height of the modal, if need be */
    min-height: 32.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-wrap: break-word;
}

.join-flow-inner-content {
    box-shadow: none;
    width: calc(100% - 5.875rem);
    /* must use padding for top, rather than margin, because margins will collapse */
    margin: 0 auto;
    padding: 2.3125rem 0 2.5rem;
    font-size: .875rem;
}

.join-flow-title {
    color: $type-gray;
    font-size: 1.875rem;
}

.join-flow-description {
    font-size: .875rem;
    font-weight: bold;
    line-height: 1.37500rem;
    margin-top: 0.78125rem;
    margin-bottom: 1.875rem;
    text-align: center;
}

/* overflow will only work if this class is set on parent of img, not img itself */
.join-flow-header-image-wrapper {
    width: 100%;
    min-height: 7.5rem;
    max-height: 8.75rem;
    overflow: hidden;
    margin: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.join-flow-header-image {
    width: 27.5rem;
}

.join-flow-footer-message {
    width: 100%;
    padding: 1.125rem 1.5rem 1.125rem;
    background-color: $ui-blue-25percent;
    font-size: .75rem;
    font-weight: 600;
    text-align: center;
    color: $ui-blue;
}
