@import "../../colors";
@import "../../frameless";

.join-flow-title {
    color: $type-gray;
    font-size: 1.875rem;
}

.join-flow-description {
    font-size: .875rem;
    font-weight: bold;
    margin-bottom: 1.875rem;
    text-align: center;
}

.join-flow-inner-content {
    box-shadow: none;
    width: calc(100% - 5.875rem);
    /* must use padding for top, rather than margin, because margins will collapse */
    margin: 0 auto;
    padding: 2.3125rem 0 2.5rem;
    font-size: .875rem;
}
