@import "../../colors";
@import "../../frameless";

.join-flow-input {
    width: 100%;
    height: 2.75rem;
    border-radius: .5rem;
    background-color: $ui-white;
    margin-bottom: .5rem;

    &:focus {
        box-shadow: 0 0 0 .25rem $ui-blue-25percent;
    }
}

.join-flow-password-confirm {
    margin-bottom: .6875rem;
}

.join-flow-input-tall {
    height: 3rem;
}

.join-flow-input-title {
    font-weight: bold;
    margin-bottom: .5rem;
}

.join-flow-instructions {
    font-size: .875rem;
    font-weight: bold;
    line-height: 1.37500rem;
    margin-bottom: 1rem;
    text-align: center;
}

.validation-full-width-input {
    transform: translate(21.5625rem, 0);
}

.validation-birthdate-month {
    transform: translate(-9.25rem, 0);
    width: 7.25rem;
}

.validation-birthdate-year {
    transform: translate(8.75rem, 0);
    width: 7.25rem;
}

@media #{$intermediate-and-smaller} {
    .validation-full-width-input {
        transform: unset;
        margin-bottom: .75rem;
    }

    .validation-birthdate-input {
        transform: unset;
        width: 8rem;
    }
}

.select .join-flow-select {
    height: 3.5rem;
    background-color: white;
    border-color: $box-shadow-light-gray;
    font-size: 1rem;
    font-weight: 500;
    padding-right: 3.25rem;
}

.select .join-flow-select-month {
    margin-right: .5rem;
    width: 9.125rem;
}

.select .join-flow-select-year {
    width: 9.125rem;
}

.select .join-flow-select-country {
    width: 100%;
    margin: 0 auto;
}

.join-flow-password-section {
    margin-top: 1.125rem;
}

.birthdate-select-row {
    display: flex;
    margin: 0 auto;
}

.join-flow-inner-username-step {
    padding-top: 2.75rem;
}

.join-flow-inner-birthdate-step {
    padding-top: 3.5rem;
}

.join-flow-inner-gender-step {
    /* need height so that flex will adjust children proportionately */
    height: 27.25rem;
    padding-top: 2.625rem;
    padding-bottom: 1rem;
}

.join-flow-inner-country-step {
    padding-top: 3.25rem;
}

.join-flow-inner-email-step {
    padding-top: 3rem;
}

.join-flow-inner-welcome-step {
    padding-top: 3rem;
}

.join-flow-birthdate-description {
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.join-flow-gender-description {
    margin-top: .625rem;
    margin-bottom: 1.25rem;
}

.gender-radio-row {
    transition: all .125s ease;
    width: 20.875rem;
    height: 2.85rem;
    background-color: $ui-gray;
    border-radius: .5rem;
    margin: 0 auto 0.375rem;
    padding-left: 0.8125rem;
    display: flex;
    align-items: center;
}

.gender-radio-row:hover {
    background-color: $ui-blue-10percent;
}

.gender-radio-row-selected, .gender-radio-row-selected:hover {
    transition: all .125s ease;
    background-color: $ui-blue-25percent;
}

.join-flow-next-button-arrow {
    width: 2rem;
    height: 2rem;
    margin-left: .5rem;
}

.modal-inner-content-email {
    padding-top: 2.9rem;
}

.join-flow-email-checkbox-row {
    font-size: .75rem;
    margin: .25rem .125rem;
}

a.join-flow-link:link, a.join-flow-link:visited, a.join-flow-link:active {
    text-decoration: underline;
}
