@import "../../colors";
@import "../../frameless";

.modal-flush-bottom-button {
    margin: 0;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 5.1875rem;
    background-color: $ui-orange;
}

.next-step-title-large {
    font-size: 1.25rem;
}
