@import "../../colors";
@import "../../frameless";

.modal-flush-bottom-button {
    margin: 0;
    width: 100%;
    border: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 5.1875rem;
    background-color: $ui-orange;

    &:hover {
        transition: background-color .25s ease;
        background-color: $ui-orange-90percent;
    }

    /* match the small window setting for modal as a whole */
    @media #{$small}, #{$small-height} {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.next-step-title {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-step-spinner {
    width: 2.625rem;
    height: 2.625rem;
}
