@import "../../../colors";
@import "../../../frameless";

.tou-modal-overlay {
    background-color: transparentize($overlay-gray, 0.2);
}

.tou-modal-top{
    height: 48px;
    background-color: $ui-mint-green;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.tou-modal-top.red{
    background-color: hsla(360, 80%, 65%, 1);
}

.tou-modal{
    width: 464px;
}

.tou-modal-content{
    padding: 2rem;
    box-sizing: border-box;
}

.tou-modal-heading{
    font-size: 24px;
}
.tou-modal-button {
    border-radius: 0.3rem;
    padding: 12px 16px;
    border-color: transparent;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}

.tou-modal-button.filled {
    background-color: $ui-mint-green;
    color: $ui-white;
}

.tou-modal-button.outlined {
    background-color: $ui-white;
    color: $ui-mint-green;
    border: 1px solid $ui-mint-green;
}

.tou-modal-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    gap: 8px;
}

.tou-modal-button:hover {
    background-color: hsl(163, 85%, 35%);
    color: $ui-white;
}

.tou-modal-link {
    color: $ui-mint-green !important;
    text-decoration: underline !important;
}

.tou-modal-link-blue {
    color: $ui-blue !important;
    font-weight: 400;
}

.tou-input {
    width: calc(100% - 10px);
    padding: 10px 5px;
    margin: 5px 0;
    font-size: 14px; 
    color: $type-dark-gray;
    background-color: white;
    border: 1px solid $active-dark-gray;
    border-radius: 6px;
    outline: none;
    transition: border 0.2s ease-in-out;
    font-weight: 600;
}

.tou-center-content{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.tou-banner{
    height: 50px;
    background-color: $ui-red-dark;
    font-size: 16px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tou-banner-link{
    text-decoration: underline !important;
    color: white !important;
}
