.login {
    padding: 10px;

    label {
        padding-top: 5px;
        font-weight: bold;
    }

    .submit-button {
        margin-top: 5px;
    }

    a {
        margin-top: 15px;
    }

    a:hover {
        background-color: transparent;
    }
}
