@import "../../colors";

.login {
    padding: 10px;

    label {
        padding-top: 5px;
        font-weight: bold;
    }

    .right {
        float: right;
    }

    .spinner {
        margin: 0 .8rem;
        width: 1rem;
        height: 1rem;
    }

    .submit-button {
        margin-top: 5px;
    }

    a {
        margin-top: 15px;

        &:hover {
            background-color: transparent;
        }
    }


    .error {
        border: 1px solid $active-dark-gray;
        border-radius: 5px;
        background-color: $ui-orange;
        padding: .75em 1em;
    }
}
