
.login-dropdown {
    width: 200px;
    line-height: 1.5rem;

    .button {
        padding: .75em;
    }

    .row {
        margin-bottom: 1.25rem;
    }

    .input {
        margin-bottom: .25rem;
        height: 2.25rem;
    }
}

.login-dropdown-gui {
    position: absolute;
    top: 3rem;
    z-index: 500; /* on top of gui cards, but under gui modals */
}
