.box {
    display: inline-block;
    width: 100%;

    border: 1px solid #e0e0e0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 3px rgba(34, 25, 25, 0.3);

    .header {
        display: block;
        margin: 0;
        height: 20px;
        padding: 8px 20px;
        clear: both;
        overflow: hidden;

        background-color: #efefef;
        border-radius: 10px 10px 0 0;
        border-top: 1px solid white;
        border-bottom: 1px solid #ccc;

        h4 {
            display: inline-block;
            float: left;

            font-size: 1.1rem;
        }

        p {
            display: inline-block;
            float: right;
            margin: 1px 0 0 0;
            padding: 0;

            font-size: 0.85rem;
        }
    }

    .content {
        display: block;
        padding: 8px 20px;
        clear: both;

        background-color: white;
    }
}
