@import "../../colors";

.news {
    ul {
        display: block;
        margin: 0;
        padding: 0;

        list-style: none;
    }

    li {
        display: block;
        clear: both;
        margin: 0;
        padding: 12px 0;
        min-height: 53px;

        a {
            display: block;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }

        img {
            display: block;
            float: left;
            margin-right: 12px;
        }

        h4 {
            display: block;
            
            color: $link-blue;
            font-size: .85rem;
        }

        p {
            display: block;
            margin: 0;
            padding: 0;

            color: $type-gray;
            font-size: .85rem;
        }
    }

    li:nth-child(even) {
        border-top: 1px solid $ui-border;
        border-bottom: 1px solid $ui-border;
    }
}
