@import "../../colors";

.news {
    ul {
        display: block;
        margin: 0;
        padding: 0;

        list-style: none;
    }

    li {
        display: block;
        clear: both;
        margin: 0;
        padding: 12px 0;
        min-height: 53px;

        a {
            display: flex;
            text-decoration: none;
            flex-wrap: nowrap;
            flex-direction: row;

            &:hover {
                text-decoration: none;
            }
        }

        img {
            margin-right: 12px;
            width: initial;
        }

        h4 {
            display: block;
            
            color: $link-blue;
            font-size: .85rem;
        }

        p {
            display: block;
            margin: 0;
            padding: 0;
            line-height: normal;

            color: $type-gray;
            font-size: .85rem;
        }

        &:nth-child(even) {
            border-top: 1px solid $ui-border;
            border-bottom: 1px solid $ui-border;
        }
    }
}
