@mixin modal-iframe($iframe-width, $iframe-height, $padding: 0) {
    &.ReactModal__Content {
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        margin-top: -($iframe-height + $padding * 2)/2;
        margin-left: -($iframe-width + $padding * 2)/2;
        padding: $padding;
        width: $iframe-width;
        height: $iframe-height;

        iframe {
            border: 0;
            width: $iframe-width;
            height: $iframe-height;
        }
    }
}
