@import "./colors";
@import "./frameless";

#view {

    // Global Typography

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        line-height: 1.7em;
        color: $type-gray;
    }

    ::selection {
        background-color: lighten($ui-blue, 30);
    }

    // Headers

    h3,
    h4,
    h5 {
        margin: 1.5em 0 .3em;
    }

    h1 {
        margin: .75em 0 .3em;
        font-size: 2.5rem;
        font-weight: 900;
    }

    h2 {
        margin: .75em 0 .3em;
        font-size: 2rem;
        font-weight: 600;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: 500;
    }

    h4 {
        font-size: 1rem;
        font-weight: 700;
    }

    h5 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .85rem;
        font-weight: 700;
    }

    // Link Typography

    a {
        cursor: pointer;
        color: $ui-blue;
        font-weight: 500;

        &:hover {
            text-decoration: none;
            color: darken($ui-blue, 15);
        }
    }

    // Paragraph Typography

    p {
        margin: .25em 0 1em;
        //max-width: 700px;
        font-size: 1rem;
        font-weight: 300;

        &.intro {
            margin-bottom: 1em;
            font-size: 1.1rem;
        }

        &.callout {
            // margin: 1.5em 0;
            // border-top: 1px solid $ui-border;
            // border-bottom: 1px solid $ui-border;
            // padding: 1em 0;

            margin: 1.5em 0;
            border: 1px solid $active-gray;
            border-radius: 5px;
            background-color: lighten($ui-blue, 40);
            padding: 1.25em;

            &.orange {
                background-color: lighten($ui-orange, 30);
            }
        }

        a {
            white-space: nowrap;
        }
    }

    b {
        font-weight: 500;
    }

    // List Typography

    ol,
    ul {
        margin: .25em 0 1em;
        padding-left: 20px;

        line-height: 1.5em;
        font-size: 1rem;
        font-weight: 300;

        li {
            margin: .75em 0;
        }
    }
}
