@import "colors";
@import "frameless";

/* Tags */
html,
body {
    display: block;
    margin: 0;
    background-color: darken($ui-blue, 8%);
    padding: 0;
    color: $type-gray;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

/* Typography */
h1,
h2,
h3,
h4 {
    margin: 0;
    border: 0;
    padding: 0;

    color: $header-gray;
    font-weight: 700;
}

h1 {
    line-height: 2.125rem;
    font-size: 1.625rem;
}

h4 {
    line-height: 1.1rem;
    font-size: 1.0rem;
}

/* Links */
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: $link-blue;
}

a:hover {
    text-decoration: underline;
}

/* Classes */

#view {
    /* NOTE: Margin should match height in navigation.scss */
    margin-top: 50px;
    background-color: $background-color;

    padding: 20px 0;
    min-height: 768px;
}
