@import "colors";
@import "frameless";

/* Tags */
html,
body {
    display: block;
    margin: 0;
    background-color: darken($ui-blue, 8%);
    padding: 0;
    color: $type-gray;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

/* Typography */
h1,
h2,
h3,
h4 {
    margin: 0;
    border: 0;
    padding: 0;

    color: $header-gray;
    font-weight: 700;
}

h1 {
    line-height: 2.125rem;
    font-size: 1.625rem;
}

h4 {
    line-height: 1.1rem;
    font-size: 1.0rem;
}

/* Links */
a {
    white-space: nowrap;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: $link-blue;
}

a:hover {
    text-decoration: underline;
}

/* Classes */
.empty {
    $bg-blue: #d9edf7;
    $bg-blue-accent: #bce8f1;
    border: 1px solid $bg-blue-accent;
    border-radius: 5px;
    background-color: $bg-blue;
    padding: 10px;
    text-align: center;
    line-height: 2rem;
    color: $type-gray;

    h4 {
        color: $type-gray;
    }
}

#view {
    display: inline-block;

    /* NOTE: Margin should match height in navigation.scss */
    margin-top: 50px;
    background-color: $background-color;
    padding: 20px 1px;
    min-width: 100%;
    min-height: 768px;
}
