/* Tags */
html, body {
    display: block;
    margin: 0;
    padding: 0;

    color: #322f31;
    background-color: #fdfdfd;

    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

/* Typography */
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    border: 0;

    color: #554747;
    font-weight: 700;
}

h1 {
    font-size: 1.625rem;
    line-height: 2.125rem;
}

h4 {
    font-size: 1.0rem;
    line-height: 1.1rem;
}

/* Links */
a:link, a:visited, a:active {
    color: #1aa0d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Classes */
.inner {
    width: 942px;
    margin: 0 auto;
}

#view {
    min-height: 768px;
    padding: 10px 0;

    /* NOTE: Margin should match height in navigation.scss */
    margin-top: 50px;
}

/*
button {
    cursor: pointer;
    line-height: 30px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    transition: all .25s ease-in-out;
    height: 32px;
    text-shadow: 0 1px #fff;
    font-weight: normal;
    color: #666;
    border-color: #999;
    display: inline-block;
    background: linear-gradient(to bottom, #fff, #ccc)
}

button:hover {
    background-image: linear-gradient(#e6e6e6,#e6e6e6);
}
*/

