/* Tags */
html,
body {
    display: block;
    margin: 0;
    background-color: #fdfdfd;
    padding: 0;
    color: #322f31;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

/* Typography */
h1,
h2,
h3,
h4 {
    margin: 0;
    border: 0;
    padding: 0;

    color: #554747;
    font-weight: 700;
}

h1 {
    line-height: 2.125rem;
    font-size: 1.625rem;
}

h4 {
    line-height: 1.1rem;
    font-size: 1.0rem;
}

/* Links */
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #1aa0d8;
}

a:hover {
    text-decoration: underline;
}

/* Classes */
.inner {
    margin: 0 auto;
    width: 942px;
}

#view {
    /* NOTE: Margin should match height in navigation.scss */
    margin-top: 50px;

    padding: 20px 0;
    min-height: 768px;
}
