@import "../../frameless";

.splash {
    .splash-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .ie9 & {
            display: table;
            margin: 0 -20px 20px -20px;
            min-width: 100%;
            border-spacing: 20px 0;
        }

        .box {
            display: inline-block;
            width: calc(60% - 20px);

            .ie9 & {
                display: table-cell;
                vertical-align: top;
            }
        }

        .news {
            width: 40%;

            img {
                flex-shrink: 0;
            }
        }
    }

    .teacher-banner {
        margin-top: -20px;
    }

    .box {
        margin-bottom: 20px;
    }
}

//4 columns
@media only screen and (max-width: $mobile - 1) {
    .splash {
        .splash-header {
            flex-wrap: wrap;
            justify-content: center;

            .box {
                width: $cols4;
            }
        }
    }
}

//6 columns
@media only screen and (min-width: $mobile) and (max-width: $tablet - 1) {
    .splash {
        .splash-header {
            flex-wrap: wrap;
            justify-content: center;

            .box {
                width: $cols6;
            }
        }
    }
}

//6 columns
@media only screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    .splash {
        .splash-header {
            margin: 0 auto;
            width: $cols8;
        }
    }
}
