@import "../../colors";
@import "../../frameless";

$base-bg: $ui-white;

#view {
    background-color: $ui-white;
    padding: 0;
}

// body {
//     font-family: "Helvetica Neue";
// }

h2 {
    font-size: 3.25rem;
    line-height: 4rem;
}

h3 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h5 {
    text-transform: none;
    font-size: 1rem;
    margin: .5rem 0;
}

p {
    font-size: 1rem;
    line-height: 2rem;
}

@media #{$small} {
    .inner {
        width: $cols4;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }
}

.section {
    // This is the height of the sub nav + height of the site nav - a few pixels...
    scroll-margin-top: 104px;
}

.banner-wrapper {
    background: $ui-yellow bottom right url("/images/ideas/right-juice.png") no-repeat;
}

.ideas-banner {
    margin-bottom: 0;
    background: bottom left url("/images/ideas/left-juice.png") no-repeat;
}

.ttt-section {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.tips-divider {
    border-top: 1px solid $ui-gray;
    width: 100%;
}

.tips-banner-image {
    max-width: calc(100% - 2rem);
}

.ideas-button {
    margin-right: .75rem;
    background-color: $ui-blue;
    color: $ui-white;
    font-size: 1rem;

    img {
        margin-right: 1rem;
        height: 1.5rem;
        vertical-align: middle;
    }

    a {
        color: $ui-white;
    }

    span {
      vertical-align: middle;
    }
}

.wide-button {
    width: 100%;
}

.ideas-all-cards {
    padding: 5rem 0 !important;
}

.ideas-starter {
    padding: 5rem 0 !important;
}

.tips-getting-started {
    background-color: $ui-light-gray;
    padding-top: 2.5rem;
}

.tips-left {
    justify-content: flex-start;
}

.ideas-image {
    margin-right: 2rem;
}

.tips-activity-guides {
    background-color: $ui-light-gray;
    padding-bottom: 2rem;
}

.purchase-button {
    img {
        margin-right: 0;
        margin-left: .75rem;
        width: 1rem;
        vertical-align: baseline;
    }
}

.tips-info-section {
    padding: 2.5rem 0;
    width: 100%;
    flex-wrap: nowrap;
}

.tips-info-body {
    text-align: left;
}

.tips-cards-buttons {
    a {
        white-space: normal;
    }
}

.gray-area {
    background-color: $ui-gray;
}

.title-banner-h1 {
    text-align: left;
}

.section-heading {
    font-size: 52px;
}

.title-banner {
    margin-bottom: 0;
}

.milestones-section {
    background-color: $ui-blue-10percent;

    .inner {
        max-width: 940px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2, h4 p {
        color: $type-gray;
    }

    p {
        font-size: 1.25rem;
    }

    .milestones-wrapper {
        display: flex;

        .left {
            margin-left: auto;
        }

        .right {
            margin-right: auto
        }

       @media #{$intermediate-and-smaller} {
           flex-direction: column;

           .left, .right {
               margin: auto; 
           }
       }
    }

    .milestones-column {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        width: 460px;

        .milestones-description {
            width: 360px;
        }
 
        .single-image {
            flex-grow: 3;
            align-self: center;
            justify-self: center;
            max-width: 360px;
        }

        @media #{$intermediate-and-smaller} {
            align-items: center;
            
            .milestones-description{
                width: 100%
            }
        }

        @media #{$small} {
            width: 300px;
        }
    }

    .milestone-box {
        &.first {
            margin-top: 4px;
        }

        &.last {
            margin-bottom: 4px;
        }

        img {
            width: 100%;
            height: 240px;
            border-radius: 8px;

            object-fit: cover;
            // object-position: 50% 5%;
        }

        background-color: $ui-white;
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 12px;

        @media #{$intermediate-and-smaller} {
            h4, p {
                text-align: left;
            }
        }

        @media #{$small} {
            img {
                height: 160px;
            }
        }
    }

}

.financials-section {
    .inner {
        max-width: 780px;
        padding: 80px 0;
    }

    background-color: #575E75;
    width: 100%;
    color: #FFFFFF;

    h2, h3, p {
        color: #FFFFFF;
    }

    h2 {
        margin-bottom: 88px;
        line-height: 64px;
    }

    h2, h3 {
        text-align: left;
    }

    hr {
        border: 0;
        height: 0;
        border-top: .5px solid #FFFFFF;
        opacity: .25;
    }

    .financials-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .financials-table {
        display: flex;
        flex-direction: column;

        margin: 64px 0;
    }

    .circle-and-words {
        display: flex;
        align-items: flex-start;
        padding: 8px 0px;;

        img {
            margin-right: 16px;
        }

        p {
            text-align: left;
            font-weight: bold;
            line-height: 1.5rem;
            margin: 0;
        }

        .percentage {
            font-weight: normal;
        }

        .key {
            width: 264px;
        }

        .total {
            margin-left: 36px;
            margin-top: 52px;

            p {
                font-size: 1.25rem;
            }
        }

        .key-and-money {
            display: flex;
        }

        @media #{$intermediate} {
            .key {
                margin-right: 100px;
            }
        }
    }

    .financials-button-wrapper {
        width: 100%;
        text-align: center;
    }

    .financials-button {
        background-color: $ui-white;
        color: $ui-blue;
        padding: 20px;
        border-radius: 6px;
        margin: 48px 0 28px 0;

        font-family: "Helvetica Neue";
        font-size: 24px;
        font-weight: bold;

        vertical-align: middle;

        img {
            height: 1.75rem;
            padding-left: 1.2rem;
            margin-top: -4px;
            margin-bottom: -4px;
        }
    }

    @media #{$intermediate-and-smaller} {
        .inner {
            max-width: 620px;
            padding: 72px 0;
        }

        .financials-content {
            flex-direction: column-reverse;
            text-align: center;
        }

        .financials-table {
            margin: 0 0 60px 0;
            align-self: flex-start;
        }

        .graph {
            margin: 28px;
        }
    }

    @media #{$medium-and-smaller} {
        .inner {
            max-width: 460px;
            padding: 64px 0;
        }

        h2 {
            margin-bottom: 64px;
        }
    }

    @media #{$small} {
        .inner {
            max-width: 300px;
            width: 100%;
        }

        // h2 {
        //     font-size: 2rem;
        // }

        // h3 {
        //     font-size: 1.75rem;
        // }

        h2, h3 {
            text-align: center;
        }

        .key-and-money {
            flex-direction: column;

            .key {
                margin-bottom: 4px;
            }
        }
    }
}

.subsection-tag {
    color: $ui-white;
    font-size: 1rem;
    font-weight: bold;

    background-color: $ui-blue;
    text-align: center;
    border-radius: 36px;

    display: inline-flex;
    width: max-content;
    padding: 12px 36px;
}

.supporters-section {
    background-color: #EDEDFF;
    padding: 104px 0;

    .inner {
        max-width: 780px;
    }

    h3, h4 {
        margin-bottom: 20px;
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }

    .supporters-heading {
        margin-bottom: 68px;

        h2 {
            padding-bottom: 24px;
        }

        p {
            font-size: 1.25rem;
            line-height: 2.5rem;
        }
    }

    .subsection-tag {
        background-color: $ui-orange;
    }

    .supporters-subsection {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: left;
        margin: 48px 80px 0px 80px;

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 16px;
        }
    }

    .founding-partners-blurb {
        font-style: italic;
    }

    .david-siegel {
        display: flex;
        align-items: flex-start;

        width: 780px;
        margin-bottom: 52px;
        margin-top: 32px;

        .ds-info {
            display: flex;
            line-height: 24px;
        }

        img {
            width: 140px;
        }

        .ds-text {
            width: 144px;
        }
    }

    .comment-text {
        background-color: $ui-white;
        text-align: left;
        margin: 20px;

        p {
            font-size: 1.25rem;
            line-height: 2.25rem;
        }
    }

    .supporters-level {
        width: 100%;
        margin: 24px 0;


        .supporters-list {
            display: flex;
        }

        .supporters-list-side {
            margin: 0 1.25rem 0 0;

            li {
                margin: 0 0 .75rem 0;
                padding: 0 auto;
                width: 300px;
                overflow: wrap;
            }
        }
    }
    @media #{$big} {
        .ds-info {
            flex-direction: column;
            text-align: center;
            width: 144px;
            margin-right: 60px;
        }
    }

    @media #{$intermediate-and-smaller} {
        .inner {
            max-width: 620px;
        }

        .supporters-subsection {
            text-align: left;
        }

        .david-siegel {
            width: 460px;
        }

        .ds-info {
            width: 460px;
            flex-direction: row;
            text-align: left;

            img {
                margin-right: 20px;
            }
        }

        .david-siegel {
            flex-direction: column;
            align-items: center;
        }
    }

    @media #{$medium-and-smaller} {
        .supporters-subsection {
            margin: 0;
        }

        .supporters-list {
            flex-direction: column;
            align-content: flex-start;
        }
    }
}

.donate-section {
    background-color: #0EBD8C;

    .donate-info {
        justify-content: center;
        align-items: flex-start;
        padding: 84px 0px;

        img {
            width: 300px;
            height: 300px;
        }

        @media #{$intermediate} {
            img {
                width: 220px;
                height: 220px;
            }
        }

        @media #{$medium-and-smaller} {
            align-items: center;
        }
    }

    .donate-content {
        margin-left: 20px;

        h2, p {
            color: $ui-white;
        }

        width: 460px;

        @media #{$intermediate} {
            text-align: left;
        }

        @media #{$medium-and-smaller} {
            margin-left: 0px;
            text-align: center;
            width: 75%;
        }

        
    }

    .donate-button {
        background-color: $ui-white;
        color: $ui-blue;
        height: 66px;
        width: 176px;
        padding: 0px;
        margin: 0px;
        border-radius: 6px;

        font-family: "Helvetica Neue";
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 29px;

        a {
            color: $ui-blue;
        }

        span {
          vertical-align: middle;
        }
    }
}





img.tips-icon {
    height: 1.75rem;
}
//4 columns
@media #{$small} {

    .title-banner {
        &.masthead {
            padding-bottom: 1.25rem;

            p {
                max-width: $cols4;
            }
        }
    }

    .ttt-head {

        p {
            max-width: $cols4;
        }
    }

    //put the image first if in 4-column
    .tips-info-body {
        max-width: $cols4;
        text-align: center;

        &.tips-illustration {
            order: -1;
            img {
                width: $cols4;
            }
        }

        .button {
            width: 100%;
        }
    }
}

//6 columns
@media #{$medium} {
    .title-banner {
        &.masthead {

            p {
                max-width: $cols6;
            }
        }
    }

    .ttt-head {
        p {
            max-width: $cols6;
        }
    }

    .tips-info-body.tips-illustration {
        order: -1;
        img {
            width: $cols4;
        }
    }

    .tips-info-body {
        max-width: $cols4;
        text-align: center;
    }
}


//8 columns
@media #{$intermediate} {
    .title-banner {
        &.masthead {
            padding-bottom: 2rem;

            p {
                max-width: $cols6;
            }
        }
    }

    .ttt-head {
        p {
            max-width: $cols6;
        }
    }

    .tips-info-section {
        &.mod-align-top {
            align-items: flex-start;
        }
    }

    .tips-info-body {
        max-width: $cols4;
    }
}

// 12 columns
@media #{$big} {
    .title-banner {
        &.masthead {
            padding-bottom: 1.25rem;

            p {
                max-width: $cols8;
            }
        }

        .masthead-info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    margin: 0;
                    max-width: $cols6;
                    text-align: left;
                    color: $ui-white;

                    a {
                        border-bottom: 1px solid $ui-white;
                        color: $ui-white;
                    }
                }
            }
    }

    .ttt-head {
        p {
            max-width: $cols8;
        }
    }

    .tips-info-section {
        &.mod-align-top {
            align-items: flex-start;
        }
    }

    .tips-info-body {
        max-width: $cols6;
        &.mod-narrow {
            max-width: $cols5;
        }
    }
}

.subnavigation {
    position: sticky;
    top: 50px;
    z-index: 9;
    box-shadow: 0 0 3px $box-shadow-gray;
    background-color: #4280D7;
    padding: 0;
    width: 100%;
    height: 58px;

    color: $type-white;
    font-size: .85rem;
    font-weight: bold;

    .flex-row {
      height: 100%;
    }

    a {
        text-decoration: none;
        white-space: nowrap;
        color: $type-white;
        font-size: .85rem;
    }

    .sectionIndicator {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 58px;

        p {
            color: $ui-white;
            font-weight: bold;
        }

        .dropdown-button {
            background: none;
            border: 0px;
            padding: 0px;
            margin: 0px;

            .rotated {
                transform: rotate(180deg);
            }
        }

        img {
            margin: 0;
            padding: 0;
        }
    }

    hr {
        border: 0;
        height: 0;
        border-top: 1px solid $box-shadow-light-gray;
        margin-top: 0;
    }

    @media #{$medium-and-smaller} {
        height: auto;

        .flex-row {
            flex-direction: row;
            justify-content: flex-start;

            padding-bottom: 20px;
        }

        a {
            padding: 10px;
            margin: 5px 10px 5px 0px;
            border: 1px solid $box-shadow-light-gray;
            border-radius: 4px;

            &.selectedItem {
                border-bottom: 1px solid $box-shadow-light-gray;
                background-color: $box-shadow-light-gray;
            }
        }

        // Would be good to see if this works in RTL...
        [dir="rtl"] a {
            margin-left: 10px;
            margin-right: 0px;
        }
    }

}
