@import "../../../colors";
@import "../../../frameless";

.mod-addToStudio * {
    box-sizing: border-box;
}

.mod-addToStudio {
    margin: 100px auto;
    outline: none;
    padding: 0;
    width: 36rem;
    overflow: hidden;
    user-select: none;
}

.addToStudio-modal-header {
    box-shadow: inset 0 -1px 0 0 $ui-dark-blue;
    background-color: $ui-royal-blue;
    padding-top: .75rem;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
}

.addToStudio-content-label {
    text-align: center;
    color: $type-white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.addToStudio-modal-content {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5rem;
    font-size: .875rem;
}

.studio-list-outer-scrollbox {
    background-color: $ui-blue-10percent-solid;
    padding-top: 10px;
}


.studio-list-inner-scrollbox {
    height: 15rem;
    overflow: scroll;
    overflow-x: hidden;
    margin-right: 8px;
}

.studio-list-inner-scrollbox::-webkit-scrollbar {
    width: 9px;
    background-color: $ui-blue-10percent-solid;
}
.studio-list-inner-scrollbox::-webkit-scrollbar-thumb {
    background-color: $active-dark-gray;
    border-radius: 5px;
}
.studio-list-inner-scrollbox::-webkit-scrollbar-track {
}

.studio-list-container {
    background-color: $ui-blue-10percent-solid;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding: 1rem 3rem;
}
/* NOTE: force scrolling: add to above:
    min-height: 30rem;
    */

.studio-selector-button {
    background-color: $ui-white;
    color: $type-gray;
    font-weight: 800;
    height: 2.5rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 40%;
}

.studio-selector-button-selected {
    background-color: $ui-green;
    color: $ui-white;
}

.studio-status-icon {
    background-color: $ui-blue;
    color: $type-gray;
    font-weight: 800;
    height: 1.5rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.75rem;
    box-sizing: border-box;
    width: 1.5rem;
}

.studio-status-icon-selected {
    background-color: $ui-green;
    color: $ui-white;
}
