@import "../../../colors";
@import "../../../frameless";

.mod-addToStudio * {
    box-sizing: border-box;
}

.mod-addToStudio {
    margin: 100px auto;
    outline: none;
    padding: 0;
    width: 36rem;
    overflow: hidden;
    user-select: none;
}

.addToStudio-modal-header {
    box-shadow: inset 0 -1px 0 0 $dd-darkblue;
    background-color: $ui-blue;
    padding-top: .75rem;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
}

.addToStudio-content-label {
    text-align: center;
    color: $type-white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.addToStudio-modal-content {
    margin: 1rem auto;
    width: 80%;
    line-height: 1.5rem;
    font-size: .875rem;
}
