@import "../../../colors";
@import "../../../frameless";

$small: "only screen and (max-width : #{$mobile})";
$medium: "only screen and (min-width : #{$mobile}+1) and (max-width : #{$tablet}-1)";
$small-height: "only screen and (max-height : #{$mobile})";
$medium-height: "only screen and (min-height : #{$mobile} + 1) and (max-height : #{$tablet} - 1)";

.mod-addToStudio * {
    // box-sizing: border-box;
}

.mod-addToStudio {
    // margin: 100px auto;
    // outline: none;
    // padding: 0;
    // max-width: 36.25rem; /* 580px; */
    height: 388px; /* 24.25rem; */
    // overflow: hidden;
    // user-select: none;
    //
    // @media #{$medium}, #{$medium-height} {
    //     margin: 40px auto;
    // }
    //
    // @media #{$small}, #{$small-height} {
    //     width: auto;
    //     height: 100%;
    //     margin: 0 auto;
    // }
}

.addToStudio-modal-header {
    box-shadow: inset 0 -1px 0 0 $ui-blue-dark;
    background-color: $ui-blue;
    // padding-top: .75rem;
    // width: 100%;
    // height: 3rem;
    // box-sizing: border-box;

    // @media #{$small}, #{$small-height} {
    //     border-radius: 0;
    // }
}

// .addToStudio-content-label {
//     text-align: center;
//     color: $type-white;
//     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//     font-size: 1rem;
//     font-weight: bold;
// }

.addToStudio-modal-content {
    margin: 0 auto;
    width: 100%;
    // font-size: .875rem;
}

.studio-list-outer-scrollbox {
    position: relative;
    background-color: $ui-blue-10percent;
}

.studio-list-inner-scrollbox {
    margin-right: .5rem;
    padding-right: .5rem;
    height: 16.9375rem;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $active-dark-gray;
        height: 92px;
    }

    &::-webkit-scrollbar-track {
        margin-top: 8px;
        margin-bottom: 10px;
    }
}

.studio-list-container {
    display: flex;
    padding: .40625rem 0 0 1.46875rem;
    justify-content: flex-start;
    flex-flow: row wrap;
}
/* NOTE: force scrolling: add to above:
    min-height: 30rem;
*/

.studio-list-bottom-gradient {
    position: absolute;
    right: 1rem;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        $transparent-light-blue,
        $ui-light-primary
    );
    height: 32px;
    pointer-events: none; /* pass clicks through to buttons underneath */
}

.studio-selector-button {
    display: flex;
    position: relative;
    transition: all .5s;
    margin: .21875rem .21875rem;
    border-radius: .5rem;
    background-color: $ui-white;
    cursor: pointer;
    padding: 0;
    width: 16.1875rem; /* 259px */
    height: 2.5rem;
    box-sizing: border-box;
    justify-content: space-between;

}

.studio-selector-button-text {
    position: absolute;
    /* per spec, should be:
    margin: .375rem 2.18375rem .375rem .6875rem
    but in practice, our css seems to vertically align text to top, where
    invision spec aligned to middle.
    */
    margin: .575rem 2.18375rem .175rem .6875rem;
    width: 13.3125rem;
    height: 1.25rem; /* diff from spec, in case we ever do valign to middle; changed to match line-height because else with overflow hidden it cuts off some letters */
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.25rem;
    white-space: nowrap;
    font-family: "Helvetica Neue";
    font-size: .875rem;
    font-weight: regular;
}

.studio-selector-button-selected {
    background-color: $ui-mint-green;
    color: $ui-white;
}

.studio-selector-button-waiting {
    background-color: $ui-light-mint;
    color: $ui-white;
}

.studio-selector-button-text-selected {
    color: $ui-white;
}

.studio-selector-button-text-unselected {
    color: $type-gray;
}

.studio-status-icon {
    position: absolute;
    margin: .5rem .625rem .5rem 14.0625rem;
    border-radius: .75rem;
    padding: .0625rem .075rem;
    width: 1.5rem;
    height: 1.5rem;
    color: $ui-white;
    box-sizing: border-box;
}

.studio-status-icon-unselected {
    background-color: $ui-blue;
}

.submit-button {
    background-color: $ui-blue;
}

.submit-button-waiting {
    background-color: $ui-blue;
}

.studio-status-icon-plus-img,
.studio-status-icon-checkmark-img {
    animation-direction: normal;
    width: 1.4rem;
    height: 1.4rem;
    transform-origin: center;
}

.studio-status-icon-with-animation {
    animation-name: bump;
    animation-duration: .25s;
    animation-timing-function: cubic-bezier(.3, -3, .6, 3);
    animation-iteration-count: 1;
}

@keyframes bump {
    0% {
        transform: scale(0);
        opacity: 0;
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
