@import "../../../colors";

.promote-modal {
    .promote-title {
        background: $ui-blue;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding-top: .75rem;
        width: 100%;
        height: 3rem;
        cursor: pointer;
    }

    h2 {
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    ul {
        line-height: 1rem;
    }

    .promote-content {
        display: flex;
        align-items: flex-start;
    }

    .promote-image {
        margin-top: 2rem;
    }

    .promote-inner {
        padding: 2rem;
    }

    .promote-button-row {
        display: flex;
        justify-content: flex-end;
    }

    .button {
        margin-left: 0.5rem;
    }

    .cancel-button {
        background-color: $ui-white;
        color: $ui-blue;
        box-shadow: 0px 0px 0 1px $ui-blue;
    }
}
