@import "../../../colors";
@import "../../../frameless";

.user-projects-modal {
    .user-projects-modal-title {
        box-shadow: inset 0 -1px 0 0 $ui-blue-dark;
        background-color: $ui-blue;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding-top: .75rem;
        width: 100%;
        height: 3rem;
    }
    .user-projects-modal-nav {
        padding: 6px 12px;
        li {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.15);
            &.active { background: $ui-blue; }
        }
    }
    .user-projects-modal-content {
        padding: 0 30px 30px;
        background: #E9F1FC;
        max-height: 80vh;
        overflow-y: auto;
        overscroll-behavior: contain;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}


.studio-tile-dynamic-remove,
.studio-tile-dynamic-add {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.25);
    border: 3px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    color: white;
    border-radius: 100%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 32px;
    text-align: center;
}
.studio-tile-dynamic-remove {
    background: #0FBD8C;
    background-clip: padding-box;
    border: 3px solid rgba(15, 189, 140, 0.2);
}

.user-projects-modal-grid {
    margin-top: 12px;
    display: grid;

    grid-template-columns: repeat(3, minmax(0,1fr));
    @media #{$medium} { /* Keep 3 columns to narrower width since it is in a modal */
        & { grid-template-columns: repeat(2, minmax(0,1fr)); }
    }
    @media #{$small} {
        & { grid-template-columns: repeat(1, minmax(0,1fr)); }
    }
    column-gap: 14px;
    row-gap: 14px;

    .studio-projects-load-more {
        grid-column: 1 / -1;
    }

    .studio-project-bottom {
        padding: 8px 10px 8px 10px;
    }
    .studio-project-avatar {
        width: 32px;
        height: 32px;
    }
    .studio-project-info {
        margin: 0;
    }
    .studio-project-title {
        font-size: 12px;
    }
    .studio-project-username {
        font-size: 12px;
    }
}
