name: Transifex Push

on:
  push: # Runs whenever a commit is pushed to the repository
    branches: [master, develop, release/*] # ...on any of these branches
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

jobs:
  transifex-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - name: info
        run: |
          echo "Scratch environment: ${{ vars.SCRATCH_ENV }}"
          echo "Node version: $(node --version)"
          echo "NPM version: $(npm --version)"
      - run: npm ci
      - name: push strings to Transifex
        run: npm run i18n:push --execute
        env:
          TX_TOKEN: ${{ secrets.TX_TOKEN }}
