@import "../../frameless";

.modal-content.mod-registration {
    width: 38.125rem;
    overflow: hidden;
}

.modal-content-iframe.mod-registration {
    width: 38.125rem;
    min-height: 27.375rem;
}

.modal-content.recaptcha-open {
    min-height: 500px;
}

.modal-content-iframe.recaptcha-open {
    min-height: 500px;
}

@media #{$intermediate-and-smaller} {
    .modal-content.mod-registration {
        width: 100%;
        overflow: scroll;
    }

    .modal-content-iframe.mod-registration {
        height: 27.375rem;
    }
}
