@import "../../colors";
@import "../../frameless";

.registration-step {
    .demographics-checkbox-is-robot {
        display: none;
    }

    .invite-avatar {
        display: block;
        margin: 0 auto 1rem auto;
        border: 2px solid $ui-white;
        border-radius: 8px;
    }

    .other-input {
        float: right;
        width: 90%;

        .row {
            margin-left: .5rem;

            .validation-message {
                transform: translate(14rem, 0);
            }
        }
    }

    .help-text {
        margin: .25rem 0;
        text-align: left;
        color: $ui-dark-gray;
    }

    &.class-invite-step {
        text-align: center;

        > p a {
            text-decoration: underline;
            color: $ui-white;
            font-weight: inherit;
        }
    }

    &.class-invite-step,
    &.class-welcome-step {
        .card {
            text-align: center;

            .contents {
                padding: 2rem 0;
            }
        }
    }

    &.username-step {
        .username-label {
            margin-bottom: .75rem;
        }
    }

    &.demographics-step {
        .radio {
            margin: 1.5rem 1.5rem 0 0;
        }

        input[type="radio"] {
            margin-right: 1rem;

            &:focus {
                transition: all .5s ease;
                border: 1px solid $ui-blue;
            }
        }

        .demographics-step-input-other {
            display: inline-block;

            .col-sm-9 {
                display: inline-block;
            }
        }
    }

    &.phone-step {
        .form-group {
            margin-bottom: 2rem;
        }

        input {
            &[type=checkbox] {
                margin-bottom: 1.25rem;
            }
        }
    }

    &.organization-step {
        .checkbox-group {
            .validation-message {
                transform: translate(16rem, 8rem);
            }
        }

        input {
            &[value="8"] {
                margin: 1rem 0;
            }
        }

        .other-input {
            margin-top: -5.75rem;
        }
    }

    &.usescratch-step {
        .form-group {
            margin-bottom: 0;

            &.has-error {
                .textarea {
                    border: 1px solid $ui-orange;
                }
            }
        }

        p {
            &.char-count {
                margin-top: 0;
                margin-bottom: 1rem;
                text-align: right;
            }
        }
    }

    &.last-step,
    &.error-step {
        &.slide {
            max-width: 38.75rem;
        }

        .card {
            margin: 1rem auto;
            padding: 1.5rem;
            width: initial;

            h4,
            p {
                text-align: left;
            }

            p {
                margin: 0;
            }
        }
    }
}

@media #{$small} {
    .registration-step {
        &.demographics-step {
            .radio {
                width: 100%;
                text-align: left;
            }
        }

        &.last-step,
        &.error-step {
            .card {
                margin: 0 auto;
                width: 18.75rem;
            }
        }
    }
}

@media #{$intermediate-and-smaller} {
    .registration-step {
        .form {
            text-align: left;
        }

        &.phone-step {
            .checkbox,
            .validation-message {
                text-align: left;
            }

            .checkbox {
                margin-bottom: 1rem;
            }
        }

        &.organization-step {
            .checkbox-group {
                text-align: left;
            }
        }
    }
}
