@import "../../colors";

$base-bg: $ui-white;
$fail-bg: $ui-orange;
$pass-bg: $ui-aqua;

.button {
    display: inline-block;
    margin: .5em 0;
    border: 0;
    border-radius: .5rem;
    background-color: $ui-blue;
    cursor: pointer;
    padding: 1em 1.25em;
    color: $type-white;
    font-size: .8rem;
    font-weight: bold;

    /* USER BUTTON STATES */
    &:focus {
        outline: none;
    }

    /* DATA BUTTON STATES */
    &.white {
        background-color: $base-bg;
        color: $ui-blue;
    }

    &.pass {
        background-color: $pass-bg;
    }

    &.fail {
        background-color: $fail-bg;
    }

    &:disabled {
        box-shadow: none;
    }
}
