@import "../../colors";
@import "../../frameless";

.inplace-input {
    transition: all .5s ease;
    border: 2px dashed $ui-dark-gray;
    border-radius: 5px;
    background-color: transparent;
    padding: 0 1rem;
    color: $type-gray;

    &:focus {
        transition: all .5s ease;
        outline: none;
        border: 1px solid $ui-blue;
    }

    &.fail {
        border: 1px solid $ui-orange;
    }

    &.pass {
        border: 1px solid $active-dark-gray;
    }

    /* IE10/11-specific style resets */
    &::-ms-reveal, &::-ms-clear {
        display: none;
    }
}

.inplace-textarea {
    transition: all 1s ease;
    margin-bottom: .75rem;
    border: 2px dashed $ui-dark-gray;
    border-radius: 5px;
    background-color: $ui-light-gray;
    padding: .75rem 1rem;
    width: calc(100% - 2.25rem);
    min-height: 20rem;
    line-height: 1.75em;
    color: $type-gray;
    font-size: .875rem;
    resize: none;

    &:focus {
        transition: all 1s ease;
        outline: none;
        border: 1px solid $ui-blue;
    }

    &.fail {
        border: 1px solid $ui-orange;
    }
}


