@import "../../colors";
@import "../../frameless";

.inplace-input {
    transition: all .5s ease;
    border: 2px dashed $ui-blue;
    border-radius: 8px;
    background-color: transparent;
    padding: 0 1rem;
    color: $type-gray;

    &:focus {
        transition: all .5s ease;
        outline: none;
        border: 1px solid $ui-blue;
    }

    &.fail {
        border: 1px solid $ui-orange;
    }

    &.pass {
        border: 1px solid $active-dark-gray;
    }

    /* IE10/11-specific style resets */
    &::-ms-reveal, &::-ms-clear {
        display: none;
    }
}

.inplace-textarea {
    transition: all 1s ease;
    box-sizing: border-box;
    border: 2px dashed $ui-blue;
    border-radius: 8px;
    background-color: $ui-light-gray;
    padding: .75rem 1rem;
    width: 100%;
    line-height: 1.75em;
    color: $type-gray;
    font-size: .875rem;
    resize: none;

    &:focus {
        transition: all 1s ease;
        outline: none;
        border: 2px solid $ui-blue;
        box-shadow: 0 0 0 4px rgba(76,151,255,0.25);
    }

    &.fail {
        border: 1px solid $ui-orange;
    }
}


