@import "../../colors";
@import "../../frameless";

$base-bg: $ui-light-gray;

.row {
    label {
        font-weight: 500;
    }
}

.input {
    transition: all .5s ease;
    margin-bottom: .75rem;
    border: 1px solid $active-gray;
    border-radius: 5px;
    background-color: $base-bg;
    padding: 0 1rem;
    height: 3rem;
    color: $type-gray;
    font-size: .875rem;

    &:focus {
        transition: all .5s ease;
        outline: none;
        border: 1px solid $ui-blue;
    }

    &.fail {
        border: 1px solid $ui-orange;
    }

    &.pass {
        border: 1px solid $ui-aqua;
    }

    /* IE10/11-specific style resets */
    &::-ms-reveal, &::-ms-clear {
        display: none;
    }
}
