/*
 * Styles for the Row component used by formsy-react-components
 * Should be imported for each component that extends one of
 * the formsy-react-components
 */

.row {
    .required-symbol {
        display: none;
    }

    label {
        display: inline-block;
        margin-bottom: .75rem;
    }

    &.no-label {
        label {
            display: none;
        }
    }
}

/* allow elements such as validation errors to position relative to this row */
.row-relative {
    position: relative;
}

.row-label {
    margin-bottom: .75rem;
    line-height: 1.7rem;
}
